@font-face {
    font-family: "untitled-font-1";
    src:url("/css/fonts/untitled-font-1.eot");
    src:url("/css/fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("/css/fonts/untitled-font-1.woff") format("woff"),
    url("/css/fonts/untitled-font-1.ttf") format("truetype"),
    url("/css/fonts/untitled-font-1.svg#untitled-font-1") format("svg");
    font-weight: normal;
    font-style: normal;
}

.convert_cardtype:hover,
.convert_cardtype:active,
.convert_cardtype:focus {
    color: #fff;
}

#body_edit .content-wrapper {
    padding: 15px 0;
}

#infodiv {
	z-index:10;
	left: 35px;
    font-size: 14px;
}
#infodiv table{
    position:relative;
    top:-3px;
    font-size: 12px;
    border: 0;
}

#infodiv table td {
    padding: 6px 3px;
    border: 0;
}

#infodiv label {
    font-weight: 300;
}

#grid_checkbox_label,
#preview_label {
    font-size: 14px;
}

#editor_top_border {
    margin-top: -61px;
}

#accordion {
	margin: 0;
	width: 315px;
}

a#edit_card {
	color: none;
}

.edit_div, .edittable {
	color: #000000;
}

#imagelist .pages, #patternlist .pages, #clipartlist .pages {width: 125px;color:#919191}


#accordion .ui-accordion-header a {
    color: #202020;
    font-weight: normal;
    font-family: 'gothic';
    font-size: 14px;
    text-transform:uppercase;
    text-decoration:none!important;
    line-height:31px;
    padding: 0 0 0 15px!important;
}
#accordion .ui-accordion-content a.prev, #accordion .ui-accordion-content a.next {
    color: #456067;
    display: inline-block;
    font-size: 12px;
    width: 80px;
	text-decoration:none!important
}
#accordion .ui-accordion-content a.prev{text-align:left}
#accordion .ui-accordion-content a.next{text-align:right}

#imagelist .head, #patternlist .head, #clipartlist .head {
    color: #000000;
}

.combo > input {
    background-image: url("/img/red_arrow_down.png");
}

#send_date_picker .ui-state-active {
    background: url("/img/calendar-selected.png") no-repeat scroll 7px 0 transparent;
}

#photolist img, #clipartlist img{margin:2px 5px 0 5px;border:#d3d3d3 1px solid;}
#imagelist img{background-color:#f1f3f2;width:30%;max-height:85px;margin:5px 1.5%; border:0;border-right:1px solid #f1f3f2;border-left:1px solid #f1f3f2}
#patternlist img{background-color:#def1eb;width:85px;max-height:85px;margin:2px 6px 0 6px;border:0;border-right:4px solid #def1eb;border-left:3px solid #def1eb}
#patternlist .content{width:312px;padding-left:3px}
#imageaddform{background:#fff;width:320px;height:350px;margin-top:-5px;margin-left:-1px}
#imageaddform #imageaddformclose {
    vertical-align: top;
}
#bt-color, #bt-pattern {margin-bottom: -10px;
    overflow: hidden;}
#bt-color .description, #bt-pattern  .description {float: left;
    margin-top: 3px;
    width: 86px;}
    #bt-color .description .arrow_allign {display: none}

#patternlist {
    padding-top: 10px;
}
.edit_div img.arrow_allign, #texttable img.centeredImage {display: none;}

#texttable.edittable td {padding: 4px 2px}

#txt_align{height:32px;margin-top:5px}
#txt_align_v{margin-bottom:0}
#txt_arrange{margin:4px 0 2px}
#placeholder{position:relative;top:3px;height:auto !important}
#photo_turn_left {
	margin-right: 3px;
}
#imgtransparency, #textsize {
    background-color: #c2bd8c;
    border: medium none;
    float: right;
    height: 6px;
    margin-left: 0;
    width: 158px;
    border-radius: 3px;
}
#texttransparency {
    background-image: none;
    background-color: #C2BD8C;
    border: medium none;
    float: right;
    height: 6px;
    margin-left: 0px;
    width: 158px;
    border-radius: 3px;
}
#imgtransparency a, #texttransparency a, #textsize a {
    background: url("/img/scroll-ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: medium none;
    display: block;
    height: 7px;
    width: 16px;
	top:-6px;
	margin-left:0
}
#position_photo_tofront .ui-button-text, #position_txt_tofront .ui-button-text {
    background: url("/img/to_front.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#position_photo_toback .ui-button-text, #position_txt_toback .ui-button-text {
    background: url("/img/to_back.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

#position_photo_tofront .ui-button-text img, #position_photo_toback .ui-button-text img, #position_txt_toback .ui-button-text img, #position_txt_tofront .ui-button-text img {
    /*visibility: hidden;*/
}
#accordion .ui-accordion-content textarea#txt_edit_add {
	background:#f8f9f9;
    height: 75px !important;
    padding:5px 9px;
    margin:9px 0 5px 1px;
	color:#8f8e8e;
	font-size:12px;
	font-family:'gothic',Verdana;
	border-color:#d3d3d3;
	border-width:2px 2px 1px 1px;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none
}
#photo_arrange #position_photo_tofront, #photo_arrange #position_photo_toback, #txt_arrange #position_txt_tofront, #txt_arrange #position_txt_toback {
    border: 0 !important;
    box-shadow: none;
}

#body_edit #save_design, #body_edit #save_user_design{height:35px!important;border:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
#body_edit #save_design, #body_edit #save_user_design, .edit_big_button{background:#8ac0cf;height:33px;line-height:33px;padding:0 17px;color:#fff;font-size:17px;font-family:'GillSansMT';border-bottom:2px solid #759ba6;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0}
#body_edit #save_design:hover, #body_edit #save_user_design:hover, .edit_big_button:hover {background-color:#74adbd!important;text-decoration:none}
#imagelist, #patternlist, #clipartlist{height:125px}
#imagelist, #clipartlist{margin-top:7px}
#chooseside {
    width: auto;
    margin: 0!important;
    width: auto!important;
    position: absolute;
    font-size: 0;
    left: 212px;
    bottom: 5px;
}
#chooseside.single_landscape {
    bottom: -9px;
}
#chooseside.single_portrait {
    bottom: -7px;
}
#chooseside.double_square,#chooseside.double_landscape {
    bottom: 8px;
}
#chooseside.single_square {
    bottom: 2px;
}
#chooseside.double_portrait {
    bottom: -9px;
}

#chooseside.double_square {
    left: 230px;
}

#chooseside.double_square #s3label,#chooseside.double_square #s1label {
    margin-right: 20px;
}

#chooseside.double_square #s4label,#chooseside.double_square #s2label {
    margin-right: 0;
}

#chooseside input {
    width: auto;
    height: auto;
}

#chooseside label.selected .side_selected {
    background: none;
    left: 2px;
    top: 5px;
    display: block;
    width: 16px;
    height: 16px;
}

#chooseside label.selected .side_selected:after {
    content: "a";
    font-family: "untitled-font-1";
    width: 16px;
    height: 16px;
    color: #f4e9ea;
    display: block;
    font-style: normal;
    font-size: 19px;
}

#step_forward,#order_card {
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid #fff;
    background-color: #dcb0b4 !important;
    padding: 0 10px 0 15px;
    color: #fff;
    font-size: 30px;
}

#step_forward:after,#order_card:after {
    content: ">>";
    display: inline-block;
    margin-left: 8px;
    letter-spacing: -8px;
    font-size: 40px;
    vertical-align: -3px;
}



#ui-id-2 td {
    vertical-align: top;
}

.ui-slider-horizontal .ui-slider-handle {
    background-color: #676c45 !important;
    top: -4px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 1px #333;
}

#save_user_design_delete_current,
#save_design_overwrite_current {
    vertical-align: middle;
}

#save_design_form select {
    height: 31px;
    border: 1px solid #C2BD8C;
    border-bottom-width: 3px;
    box-shadow: none;
    color: #676C45;
}

#accordion #save_design_form br {
    display: none;
}

#add_tags,
#delete_design {
    display: block;
    color: #676c45;
    margin: 5px 0;
}

#add_tags:hover,
#delete_design:hover {
    color: #c5868b;
}

#tag label {
    font-size: 12px;
    font-weight: 400;
}

#tag b {
    font-size: 12px;
}

#close_tag_dialog {
    font-family: "gothic";
    background: #FFF none repeat scroll 0% 0% !important;
    border-width: 1px 1px 3px;
    border-style: solid;
    border-color: #C2BD8C;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 5px;
    color: #676C45 !important;
    font-size: 13px;
    white-space: nowrap;
    cursor: pointer;
}


#photolist, #imagelist .content, #patternlist .content, #clipartlist .content {
    width: auto;
}
#panorama_prev_click .panorama_prev_click_button, #panorama_next_click .panorama_next_click_button {
	border-color: #676c45;
}
#panorama_prev_click .panorama_prev_click_button:before, #panorama_next_click .panorama_next_click_button:before {
	color: #676c45;
}

#fontlist .selected {
    outline: 2px solid #676c45;
}

.sp-button-container {
    padding-top: 90px;
}

.choice_center {
    padding-top: 0px !important;
    margin-top: 0px !important;
}

#voorbeeld-block {
    min-height: 640px !important;
}

body#body_edit #pagecontent {
    margin-top: 0px!important;
}

body#body_edit #canvas_wrapper {
    height: 582px!important;
}