.stylesheet-body {
    padding: 30px;
    background: #fff;
}

/* Colors */

.colors {
    margin-top: 20px;
}

.color-chip {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 20px 10px 0;
    text-align: center;
    padding-top: 35px;
    line-height: 1.2em;
}

.color-use {
    width: 100%;
    height: auto;
    min-height: 100px;
    display: none;
    padding: 10px 0;
    margin: 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    column-count: 4;
    column-gap: 20px;
    float: left;
}


.bg-1 {
    background-color: #70CC95;
}

.bg-2 {
    background-color: #F3FCFF;
}

.bg-3 {
    background-color: #99803D;
    color: #fff;
}

.bg-4 {
    background-color: #0049D4;
    color: #fff;
}

.bg-5 {
    background-color: #830094;
    color: #fff;
}

.bg-6 {
    background-color: #FFB740;
}

.bg-7 {
    background-color: #14CCA2;
    color: #fff;
}

.bg-8 {
    background-color: #FFB740;
}


.bg-darkgrey {
    background-color: #414141;
    color: #fff;
}

.bg-grey {
    background-color: #7e7f83;
}

.bg-lightgrey {
    background-color: #dddddd;
}

.bg-greywhite {
    background-color: #f0f0f0;
}

.bg-basis-blauw {
    background: #5b9fe5;
}

.bg-basis-groen {
    background: #51b457;
}

.bg-filter-rood {
    background: #db1704 !important;
    color: #fff;
}

.bg-filter-paars {
    background: #7a4dac !important;
    color: #fff;
}

.bg-filter-bruin {
    background: #7b6a4f !important;
    color: #fff;
}

.bg-filter-grijs {
    background: #92959f !important;
    color: #fff;
}

.bg-filter-roze {
    background: #d53276 !important;
    color: #fff;
}

.bg-filter-geel {
    background: yellow !important;
}

.bg-filter-zwart {
    background: #000000 !important;
    color: #fff;
}

.bg-filter-wit {
    background: #ffffff !important;
}

.bg-filter-oranje {
    background: orange !important;
}

.bg-filter-kleurrijk {
    background: #db1704;
    background: -webkit-linear-gradient(left, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
    background: -o-linear-gradient(right, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
    background: -moz-linear-gradient(right, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
    background: linear-gradient(right, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
    color: #fff;
}

.bg-filter-blauw {
    background: #2286dd !important;
    color: #fff;
}

.bg-filter-groen {
    background: #9bd576 !important;
}


.text {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding: 20px 0;
}

.icons {
    column-count: 3;
}

.icons table {
   border-collapse: collapse;
}

.icons table td {
    border: 1px solid #ccc;
    padding: 3px;

}

