@import url(http://fonts.googleapis.com/css?family=Amatica+SC);

body {
    position: relative;
    font-size: 14px !important;
    font-family: Antic,Varela Round,sans-serif;
}

h3 {
    font-size: 16px !important;
}

ul li:before {
    display: none !important;
}

.logo-editor {
    float: left;
    margin: 10px 0 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.logo-editor:hover {
    filter: progid:DXImageTransform.Microsoft.alpha(opacity=60);
    -moz-opacity: 60;
    opacity: 0.60
}

.logo-editor a {
    padding: 0;
}

div#headermenu {
    display: block !important;
    width: auto;
}

div#headermenu span {
    position: static;
}

div#headermenu a {
    font-size: 13px;
    color: #676c45;
    height: auto;
    width: auto;
    margin-left: 15px;
}

div#headermenu a:before {
    font-family: "kcicons";
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    font-size: 16px;
}

div#headermenu a:hover {
    color: #c5868b;
}

#headerbasket:before {
    content: "m";
}

#basket_text {
    display: none;
}

#basket_count {
    width: auto;
    padding: 0;
    display: inline;
    color: inherit;
}

#headerlogout:before {
    content: "p";
}

#headerlogout span {
    display: inline;
}

#headeraccount:before {
    content: "a";
}

#headerhelp:before {
    content: "k";
}

#pagecontent h1 {
    color: #C5868B;
    font-size: 28px;
    border-bottom: none;
    text-align: center;
}

#canvasbackground {
    margin: 30px 0 10px !important;
}

#pagecontent {
    /*background-color: #fff;*/
    border: none;
    padding: 0 0 100px 0;
    width: 980px;
    float: none!important;
    /*min-height:inherit !important;*/
    /*margin-top:18px*/
}

#body_edit #wrapper {
    width: 980px;
    margin: 0 auto;
}

#body_edit .leftdiv #infodiv {
    top: 0px;
}

#body_edit #accordion button, #body_edit input[type="submit"] {
    font-family: 'gothic';
    background: #fff !important;
    border: 1px solid #c2bd8c;
    border-radius: 5px;
    border-bottom-width: 3px;
    color: #676c45 !important;
    font-size: 13px;
    white-space: nowrap;
    cursor: pointer;
}

#body_edit #accordion button:hover, #body_edit #background_type label:hover, #body_edit input[type="submit"]:hover {
    background: #f2f2f2 !important;
}


#body_edit #accordion .ui-accordion-header {
    background: #F2EEEB;
    margin: 0px 0px 1px !important;
}

#body_edit #accordion .ui-accordion-header::after {
    content: "\e008";
    font-family: kcicons;
    position: absolute;
    color: #202020;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: right;
    padding: 3px 10px;
    font-size: 12px;
}

#body_edit #accordion .ui-accordion-header-active::after {
    content: "\e007";
}


#body_edit #pagecontent .rightdiv {
    width: 315px;
}

#body_edit #pagecontent {
    padding: 0;
}

#papier_preview {
    height: auto !important;
    margin-bottom: 50px;
}

#header {
    width: 980px;
    margin: 0 auto;
    height: 55px;
    overflow: hidden;
}

#header a.logo {
    position: static;
    float: left;
    line-height: 55px;
}

#chooseside label, #chooseside label.selected {
    width: auto;
    min-width: inherit !important;
    height: auto;
    border: 0;
    min-height: auto !important;
}

#chooseside .double_square_p1 {
    background: url(/img/gfx/bg-card-a.png) no-repeat;
    width: 38px;
    height: 41px;
}

#chooseside .double_square_p2 {
    background: url(/img/gfx/bg-card-b.png) no-repeat;
    width: 33px;
    height: 32px;
}

#chooseside .double_square_p3 {
    background: url(/img/gfx/bg-card-b.png) no-repeat;
    width: 33px;
    height: 32px;
}

#chooseside .double_square_p4 {
    background: url(/img/gfx/bg-card-c.png) no-repeat;
    width: 35px;
    height: 41px;
}

#chooseside .double_landscape_p1, #chooseside .double_landscape_p2, #chooseside .double_landscape_p3 {
    height: 52px
}

#chooseside .double_landscape_p1 {
    background: url(/img/icon_double_landscape_p1.png) no-repeat;
    width: 60px;
    height: 42px
}

#chooseside .double_landscape_p3 {
    background: url(/img/icon_double_landscape_p3.png) no-repeat;
    width: 52px;
    height: 42px
}

#chooseside .double_landscape_p2 {
    background: url(/img/icon_double_landscape_p2.png) no-repeat;
    width: 51px;
    height: 41px
}

.leftdiv {
    margin: 0;
    width: 563px;
}

.rightdiv {
    width: 340px;
}

form .leftdiv {
    margin-left: 0;
}

#rightdiv {
    float: right !important;
}

#editor_top_border {
    display: none;
    margin-top: 0 !important;
}

#headernavigation_buttons > a.headernavigation_buttons_active {
    color: #000000;
    font-weight: bold;
}

#headernavigation_buttons a:hover {
    color: #000000;
    font-weight: bold;
}

#headernavigation_buttons a {
    color: #000000;
}

a#edit_card {
    color: none;
}

#send_date_picker {
    background: none;
}

#step_forward_alternate, #body_basket #basket_n + #nav_buttons .back-button, #step_back {
    float: left;
    width: auto;
    height: 37px;
    line-height: 35px;
    padding: 0 15px 0 35px;
    margin: 15px 0 0 22px;
    font-size: 12px;
    text-decoration: none !important;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0
}

#step_forward_alternate:hover, #body_basket #basket_n + #nav_buttons .button[href="/"]:hover, #step_back:hover {
    background-position: 0 -45px !important;
    color: #fff !important;
    text-decoration: none
}

#step_forward_alternate {
    background: url(/img/bg_bt1.png) no-repeat right 0 !important;
    float: right;
    padding: 0 36px 0 15px;
    margin-right: 65px;
}

#step_forward_alternate:hover {
    background-position: right -45px !important;
}

#order_card, #body_basket #basket_n + #nav_buttons a:first-child, #done, #step_forward {
    width: auto;
    height: 50px !important;
    line-height: 15px;
    padding: 0 52px 0 29px;
    margin: 12px 20px 0 18px !important;
    color: #fff !important;
    font-size: 21px;
    text-align: right;
    text-transform: none !important;
    text-decoration: none !important;
    border-radius: 8px 0 0 0;
    -moz-border-radius: 8px 0 0 0;
    -webkit-border-radius: 8px 0 0 0;
    border: 0
}

#body_basket #basket_n + #nav_buttons a:first-child {
    margin-top: 15px !important;
    height: 37px !important;
    line-height: 35px;
}

#body_basket #basket_n + #nav_buttons .button[href="/"] {
    width: auto !important;
    border: none;
    height: 37px !important;
}

#step_back {
    padding: 0;
    margin-left: 18px;
}

#step_forward_alternate {
    padding: 0;
}

#send_date_picker .ui-state-active {
    background-image: none;
    background-color: #C5868B !important;
    border-radius: 50%;
    font-size: 11px;
    height: 27px;
    line-height: 27px;
    margin-bottom: -2px;
    margin-left: 5px;
    padding: 0px !important;
    text-align: center;
    width: 27px;
}

#body_basket #basket_n td .button {
    background: #fff!important;
    border: 1px solid #C29E6F;
    border-radius: 0px;
    color: #676C45 !important;
    font-size: 13px;
    white-space: nowrap;
    height: auto;
    width: auto;
    display: inline-block;
}

#body_basket #basket_n td .button + .button {
    margin-left: 5px;
}

#body_basket #basket_n td .button:hover {
    background-color: #F2F2F2 !important;
}

#body_basket #basket_n {
    margin-bottom: 0px !important;
    margin-top: 20px;
}

#body_basket #basket_n + #nav_buttons {
    position: inherit !important;
}

#basket_item td {
    color: #000000;
}

.ui-widget-content a {
    color: #CC6699;
    font-weight: normal;
}

#send_date_picker td.ui-datepicker-unselectable span {
    font-weight: bold
}

#send_date_picker .ui-widget-content a {
    color: #000000;
    font-weight: bold;
    text-decoration: none !important
}

.ui-dialog-titlebar-close {
    background-image: url(/common/gfx/delete.png) !important;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.ui-icon-closethick {
    background: transparent;
}

.ui-dialog-titlebar-close:hover .ui-icon-closethick {
    background: transparent;
    border: 0;
}

.ui-dialog-titlebar-close.ui-state-hover {
    border: 0 !important;
    background-image: none;
    background: transparent;
}

#headernavigation {
    display: none;
}

#editor_bottom_border {
    display: none;
}

#nav_buttons {
    bottom: 0;
    left: 0;
    background: #F2EEEB;
    width: 980px !important;
    height: 70px;
    border-top: 2px solid #f0f2f2;
}

.choice_center img#voorbeeld {
    margin-top: 0 !important;
    margin-bottom: 60px;
}

#step_forward, #order_card{
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 0;
    border: none;
    font-family: 'Amatica SC', cursive;
    background-color: #C29E6F !important;
    padding: 15px;
    color: #fff;
    font-size: 30px;
}

#step_forward:after, #order_card:after {
    content: ">>";
    display: inline-block;
    margin-left: 8px;
    letter-spacing: -4px;
    font-size: 30px;
    vertical-align: 0;
}

.choice_center h1 {
    color: #DA7D8E;
}

#nav_remark_div {
    left: 0;
    width: 940px;
    line-height: 21px;
    margin: 0 20px;
    color: #676C45;
    font-size: 14px;
    bottom: 82px;
}

#nav_remark_div b {
    display: block;
    font-weight: 700;
    text-indent: 4px;
}

.optiondisplay {
    display: none;
}

.button.delbtn, button.delbtn {
    background: url(../img/delete.png) left center no-repeat !important;
    color: #262626 !important;
    font-size: 16px;
    padding: 0 0 0 23px;
    text-align: left;
    height: 20px !important;
    line-height: 20px;
    display: block;
    text-transform: none;
    border: 0
}

.reference_block,
.email_block {
    clear: both;
    overflow: hidden;
}

.reference_block br {
    display: none;
}

.email_block {
    padding-bottom: 10px;
}

.reference_block label,
.email_block label {
    float: left;
    width: 335px;
    padding-right: 10px;
    text-align: right;
    color: #262626;
    line-height: 16px;
}

.reference_block label {
    padding-top: 6px;
}

.reference_block input,
.email_block input {
    float: left;
    padding: 8px 5px;
    width: 229px;
    font-size: 14px;
    border: 1px solid #d3d3d3;
    border-top-color: #b4b4b4;
    border-right-color: #b4b4b4;
    -moz-box-shadow: inset -1px 1px #d9d9d9;
    -webkit-box-shadow: inset -1px 1px #d9d9d9;
    box-shadow: inset -1px 1px #d9d9d9;
}

.reference_block .line,
.email_block .line {
    display: none;
}

.button-block {
    float: right !important;
    width: 266px !important;
    margin-top: -109px;
}

.button-block a.button {
    background: url(/img/btn_next.png) no-repeat right center !important;
    padding-right: 16px;
    color: #de8b99 !important;
    font-size: 13px;
    text-transform: uppercase;
    height: auto;
    float: right;
}

.button-block a.button:hover {
    text-decoration: underline;
}

.button-block #pay {
    background: url(/img/bg-basket.png) no-repeat right 0 !important;
    height: 66px !important;
    line-height: 20px !important;
    padding-right: 35px;
}

.button-block #pay:hover {
    background: url(/img/bg-basket-o.png) no-repeat right 0 !important;
}

.button-block #pay .oneline {
    display: none;
}

.button-block #pay .twoline {
    display: block;
    text-align: right;
}

.button-block #pay .twoline strong {
    color: #fff;
    font-size: 15px;
    font-family: 'CenturyRegular';
}

.button-block #pay .twoline span {
    text-transform: none;
    font-family: 'CenturyGothicRegular';
}

#accordion button, #background_type_color_label, #background_type_pattern_label {
    background-color: #F4E9EA;
    color: #444;
}

#accordion button {
    height: 31px !important
}

#accordion button:hover, #background_type_color_label.ui-state-active,
#background_type_pattern_label.ui-state-active {
    background-color: #74adbd !important;
    text-decoration: none;
    border-top-color: #88bac8;
    border-left-color: #bed9e2;
    border-bottom-color: #74adbd
}

#accordion select, #accordion input {
    height: 31px;
    padding-top: 0;
    padding-bottom: 0
}

#accordion input.textsizelabel, #accordion input.texttransparencylabel {
    background: #f8f9f9;
    border-color: #d3d3d3;
    border-width: 2px 2px 1px 1px;
    border-style: solid;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    color: #6b2d52;
    font-size: 12px;
    font-family: 'gothic', Verdana;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

#pt-upload input[type="file"] {
    margin-bottom: 10px;
    background: #ebf4f3;
    width: 316px;
    height: 28px;
    line-height: 27px;
    padding: 0;
    color: #232728;
    font-size: 12px;
    font-family: 'gothic', Verdana;
    border: 1px solid #d0d4d5;
    box-shadow: inset 1px -1px 0px #fff;
    -moz-box-shadow: inset 1px -1px 0px #fff;
    -webkit-box-shadow: inset 1px -1px 0px #fff
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #000;
}

#background_type_color_label, #background_type_pattern_label {
    width: 96px;
    text-align: center;
    margin-right: 10px;
}

.ui-slider {
    background-color: #E2D7CC;
}

.ui-slider-handle {
    background-color: #C6AF99 !important;
}

.ui-dialog {
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    border: none !important;
    padding: 0 !important;
}

.ui-dialog-titlebar {
    background-color: #DCB0B4 !important;
    border: none !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    color: #fff !important;
    padding: 5px 10px !important;
    font-weight: 300 !important;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: url(/img/btn-close.png) no-repeat 0 0 !important;
    border: none !important;
    width: 23px !important;
    height: 23px !important;
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick {
    display: none !important;
}

/* active side */

#switch_card {
    position: absolute;
    margin-top: -54px;
    margin-left: 160px;
    /* uitzetten */
    display: none;
}

.address input[type="text"] {
    border: 1px solid #d3d3d3;
    border-top-color: #b4b4b4;
    border-right-color: #b4b4b4;
    padding: 7px 5px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-shadow: inset -1px 1px #d9d9d9;
    -webkit-box-shadow: inset -1px 1px #d9d9d9;
    box-shadow: inset -1px 1px #d9d9d9;
    color: #262626;
    font-size: 14px;
    font-family: 'gothic', Verdana;
}

.address td {
    padding: 5px 2px;
}

.address select {
    background: #fff;
    height: 31px;
    padding: 2px 5px;
    width: 100%;
    color: #262626;
    font-size: 16px;;
    border: 1px solid #d3d3d3;
}

/* Envelopen onder adresblok zetten */

#rightdiv > #enveloppen_preview {
    position: absolute;
    left: 20px;
    right: 365px;
    background: #fff;
}

#rightdiv > #enveloppen_preview .title {
    margin-top: -25px;
    background: #de8b99;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    padding-left: 10px !important;
}

#rightdiv > #enveloppen_preview #enveloppenveel {
    border: 1px solid #e2e2e2 !important;
    border-top: none !important;
    width: 710px;
}

#enveloppenveel .enveloppen_beschrijving {
    padding: 0 10px 10px
}

#papier_content ul li,
#papier_content p {
    font-size: 12px !important;
}

.choice_center {
    margin-top: 20px;
    width: 588px;
}

#body_voorbeeld .choice_center h1 {
    margin-left: 0;
}

#body_size .info_div {
    background-position: 0 33px;
    height: 287px;
    background: transparent;
}

#body_size .info_div .img_div {
    height: 152px;
}

#body_size .info_div_content {
    display: none;
}

#wrapper {
    zoom: 1;
}

#wrapper:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/*Moi Theme*/
.ui-accordion .ui-accordion-header {
    background: url(../img/right-menu-edit.png) no-repeat;
    height: 31px;
    margin: 0 0 -2px !important;
    padding: 0
}

.ui-accordion .ui-accordion-header:hover {
    background: url(../img/right-menu-edit.png) 0 -49px no-repeat
}

.ui-accordion-header.ui-state-active, .ui-accordion-header.ui-state-active:hover {
    background: url(../img/right-menu-edit.png) 0 -97px no-repeat;
    height: 33px
}

.ui-accordion .ui-accordion-content {
    background: #fff;
    line-height: 19px;
    border: #e2e2e2 1px solid;
    border-top: none;
    color: #262626;
    font-size: 12px;
    font-family: 'gothic', Verdana;
}

.ui-accordion .ui-accordion-content p {
    line-height: 19px !important;
    padding: 0;
    margin: 0 0 5px !important;
    color: #262626 !important;
    font-size: 12px !important;
    font-family: 'gothic', Verdana !important
}

#accordion div.ui-accordion-content > br {
    display: none
}

#accordion .ui-accordion-content ul, #foto_feature_accordion .ui-accordion-content ul {
    padding: 0;
    margin: 8px 0 25px;
    list-style: none
}

#accordion .ui-accordion-content ul li, #foto_feature_accordion .ui-accordion-content ul li {
    background: url("/img/ico01-list.png") 0 9px no-repeat;
    padding-left: 16px;
}

#accordion .ui-accordion-content .edit_big_button {
    float: left;
    margin-left: 55px
}

.choice_div_content {
    background: url("/img/keuze_bg_small.gif") no-repeat scroll 100% 73px rgba(0, 0, 0, 0);
    height: 180px;
}

.choice_div_content:hover {
    background: url("/img/keuze_bg_small_o.gif") no-repeat scroll 100% 73px rgba(0, 0, 0, 0);
}

.choice_div_content .img_div > img {
    margin-top: 20px;
}

.choice_div {
    width: 175px;
    margin-right: 20px;
}

#send_date_picker a .ui-icon {
    font-size: 12px;
    color: #fff
}

#send_date_picker .ui-datepicker-prev, #send_date_picker .ui-datepicker-next {
    top: 0;
    line-height: 49px
}

#send_date_picker .ui-datepicker-next span, #send_date_picker .ui-datepicker-prev span {
    top: 0;
    font-family: 'gothic', Verdana;
    font-weight: normal
}

#send_date_picker .ui-datepicker-next span {
    left: -13px;
    background: url(../img/arr-next-01.png) right 22px no-repeat;
    padding-right: 9px
}

#send_date_picker .ui-datepicker-prev span {
    left: 1px;
    background: url(../img/arr-prev-01.png) left 22px no-repeat;
    width: 110px;
    padding-left: 6px
}

.ui-datepicker .ui-datepicker-title {
    height: 49px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 300;
    line-height: 49px;
    margin: 8px 2.3em 0;
    text-align: center;
}

#send_date_picker .ui-state-active {
    background: url(../img/bg_calendar_num.png) no-repeat;
    color: #FFFFFF !important;
    font-weight: normal;
    font-family: Arial;
    font-size: 14px;
    padding: 2px 6px 7px 5px;
    margin: 0 0 -2px
}

#send_date_picker .ui-state-default {
    color: #000;
    font-weight: normal !important
}

#send_date_picker .ui-state-disabled span {
    font-weight: bold !important
}

#send_date_picker {
    margin-top: 134px
}

#body_address_n #send_date_picker {
    margin-top: 0;
}

#body_address_n .line {
    border: none !important;
}

#body_address_n hr {
    background-color: #262626;
}

#body_address_n #left_div table {
    border-color: #262626;
}

#sizes_div {
    text-align: center;
}

#body_size .choice_div {
    margin: 0;
    padding: 0 5px;
    float: none;
    display: inline-block;
}

#body_size .choice_div .button {
    color: #C5868B;
    font-size: 20px;
    height: auto;
    width: 100%;
    margin-top: -25px;
}

#body_size .info_div .img_div {
    height: 195px;
}

#body_size .info_div {
    height: 252px;
    background: none;
}

#body_size #pagecontent {
    min-height: 600px;
}

#body_size .choice_div {
    padding: 0 5px;
    float: none;
    display: inline-block;
}

#body_size .choice_center {
    width: 740px !important;
}

#body_size .choice_div h1,
#body_size .choice_div h2 {
    text-transform: none;
    font-weight: 700;
    font-size: 24px;
}

#body_size .choice_div h1 {
    margin-top: 0 !important;
    padding-bottom: 0 !important;
}

#body_size .choice_div h2 {
    font-size: 23px;
    display: none;
    color: #DA7E8E !important;
}

/** #sizes_div .choice_div:first-child{display:none;} **/

#skip_design {
    display: none;
}

/*----*/
#wrapper {
    width: 980px
}

/*body_edit*/
#txt_align label,
#txt_align_v label {
    background-image: url(/img/sprites-editor.png) !important;
    background-repeat: no-repeat;
    background-color: transparent !important;
    width: 39px;
    height: 22px;
}

#txt_align_left_label {
    background-position: 0 0 !important
}

#txt_align_left_label:hover {
    background-position: -50px 0px !important
}

#txt_align_left_label.ui-state-active {
    background-position: -50px 0px !important
}

#txt_align_center_label {
    background-position: 0 -50px !important
}

#txt_align_center_label:hover {
    background-position: -50px -50px !important
}

#txt_align_center_label.ui-state-active {
    background-position: -50px -50px !important
}

#txt_align_right_label {
    background-position: 0 -100px !important
}

#txt_align_right_label:hover {
    background-position: -50px -100px !important
}

#txt_align_right_label.ui-state-active {
    background-position: -50px -100px !important
}

#txt_align_top_label {
    background-position: 0 -200px !important
}

#txt_align_top_label:hover {
    background-position: -50px -200px !important
}

#txt_align_top_label.ui-state-active {
    background-position: -50px -200px !important
}

#txt_align_middle_label {
    background-position: 0 -250px !important
}

#txt_align_middle_label:hover {
    background-position: -50px -250px !important
}

#txt_align_middle_label.ui-state-active {
    background-position: -50px -250px !important
}

#txt_align_bottom_label {
    background-position: 0 -300px !important
}

#txt_align_bottom_label:hover {
    background-position: -50px -300px !important
}

#txt_align_bottom_label.ui-state-active {
    background-position: -50px -300px !important
}

#txt_align_justify_label {
    background-position: 0 -150px !important
}

#txt_align_justify_label:hover {
    background-position: -50px -150px !important
}

#txt_align_justify_label.ui-state-active {
    background-position: -50px -150px !important
}

/**/
#body_edit {
    position: relative;
}

#body_edit .ui-accordion-content {
    height: 359px;
    padding-bottom: 0;
    overflow-x: hidden !important;
    overflow-y: auto !important
}

#body_edit #placeholder {
    top: 0
}

#body_edit #txt_arrange {
    height: 27px
}

#body_edit #texttable {
    color: #657579;
    font-size: 11px;
    font-family: 'gothic', Verdana;
}

#body_edit #texttable tr {
    line-height: 12px;
    padding: 0
}

#body_edit #texttable td {
    padding: 0;
    margin: 0;
    vertical-align: middle
}

#body_edit .sp-replacer {
    position: relative;
    height: 26px;
    padding: 1px;
    border-color: #d3d3d3
}

#body_edit .sp-replacer .sp-dd {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #bbb transparent transparent transparent;
    text-indent: -9999px
}

#body_edit .sp-replacer .sp-preview {
    width: 206px;
    height: 26px;
    margin-right: 0;
    color: #262626;
    font-size: 11px;
    font-family: 'gothic', Verdana;
    border: 0
}

#body_edit .sp-replacer .sp-preview-inner {
    padding-left: 7px;
    line-height: 24px
}

#body_edit .textsizelabel {
    margin: 5px 0 5px
}

#body_edit #position_txt_tofront, #body_edit #position_txt_toback {
    width: 27px;
    height: 21px;
    margin: 0 !important;
    padding: 0 !important
}

#body_edit #accordion #position_txt_tofront {
    background-image: url(/img/sprites-editor.png) !important;
    background-position: 0 -350px !important;
    width: 30px;
    height: 25px !important;
}

#body_edit #accordion #position_txt_tofront:hover {
    background-position: -50px -350px !important;
    background-color: transparent !important;
}

#body_edit #accordion #position_txt_toback {
    background-image: url(/img/sprites-editor.png) !important;
    background-position: 0 -400px !important;
    width: 30px;
    height: 25px !important;
}

#body_edit #accordion #position_txt_toback:hover {
    background-position: -51px -400px !important;
    background-color: transparent !important;
}

#body_edit #position_txt_tofront span, #body_edit #position_txt_tofront img, #body_edit #position_txt_toback span, #body_edit #position_txt_toback img {
    display: none
}

#body_edit #add_text {
    margin-top: -6px
}

#body_edit #add_photo {
    padding: 0 10px 0 12px !important
}

#body_edit .bg_select {
    height: 31px;
    border: 1px solid #c2bd8c;
    border-bottom-width: 3px;
    box-shadow: none;
    color: #676c45;
}

/*#body_edit .edittable{margin-top:-4px}*/
#body_edit .edittable tr, #body_edit .edittable tr td {
    padding: 0
}

#body_edit #cl-bib {
    width: 300px;
    margin-top: 12px
}

#body_edit #cl-bib .title {
    color: #445f66;
    font-size: 11px
}

#body_edit #cl-bib #clipartselect {
    height: 31px;
    border-width: 1px 1px 3px;
    border-style: solid;
    border-color: #C2BD8C;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    box-shadow: none;
    color: #676C45;
}

#body_edit #pt-upload {
    padding: 0
}

#body_edit #imagetable {
    margin-top: -3px;
    color: #657579;
    font-size: 11px;
    font-family: 'gothic', Verdana;
}

#body_edit #imagetable .centeredImage {
    display: none
}

#body_edit #imagetable #photo_arrange #position_photo_tofront {
    margin-left: 5px
}

#body_edit #imagetable #photo_arrange #position_photo_tofront:hover, #body_edit #imagetable #photo_arrange #position_photo_toback:hover {
    background-color: transparent !important
}

#body_edit #imagetable #photo_arrange #position_photo_tofront .ui-button-text, #body_edit #imagetable #photo_arrange #position_photo_toback .ui-button-text {
    padding: 0 6px 0 11px
}

#body_edit #imagetable #photo_arrange #position_photo_full {
    margin: 0 0 0 17px;
    padding: 0 5px
}

#body_edit #imagetable #photo_arrange #position_photo_full .ui-button-text {
    padding: 0
}

#body_edit #imagetable #photo_turn_left, #body_edit #imagetable #photo_turn_right {
    margin-top: 16px;
    margin-bottom: 13px
}

#body_edit #imagetable #photo_turn_left {
    margin-left: 14px;
    margin-right: 18px
}

#body_edit #imagetable #imgtransparencylabel {
    width: 30px;
    margin-left: 9px;
    border-color: #d3d3d3
}

#body_edit #imagetable #imgtransparency {
    width: 155px;
    margin-top: 13px;
    margin-left: 20px;
    float: left
}

#body_edit #imagetable #recolor {
    position: relative;
    top: 8px;
    margin: 0 5px 0 9px !important
}

#body_edit #imagetable #fg_img_select {
    float: left;
    margin-top: 10px
}

#body_edit #imagetable td {
    vertical-align: middle
}

#body_edit #background_type {
    width: 300px;
    height: 29px;
    margin-top: -5px;
    margin-bottom: 3px;
    border-bottom: 1px solid #d3d3d3
}

#body_edit #background_type label {

}

#body_edit #background_type #background_type_color_label {
    float: left;
    margin-right: 10px
}

#body_edit #background_type label.ui-state-active {
    background: #fff !important;
    height: 28px !important;
    margin-top: 1px;
    color: #444 !important;
    border: 1px solid #d3d3d3;
    border-bottom: 0 !important
}

#body_edit #background_type .ui-button-text {
    padding: 0;
    line-height: 28px
}

#body_edit #bt-color, #body_edit #bt-pattern, #body_edit #patternselect_div {
    width: 300px
}

#body_edit #bt-color .description, #body_edit #bt-pattern .description, #body_edit #patternselect_div .title {
    width: 107px;
    margin-top: 5px;
    color: #657579;
    font-size: 11px;
    font-family: 'gothic', Verdana;
}

#body_edit #patternselect_div .title {
    float: left
}

#body_edit #patternselect_div #patternselect {
    width: 210px !important
}

#body_edit #bt-color .sp-replacer, #body_edit #bt-pattern .sp-replacer, #body_edit #patternselect_div .bg_select {
    float: left;
    width: 206px
}

#body_edit #patternlist {
    clear: both
}

#body_edit #patternlist .head {
    margin-top: 7px;
    margin-bottom: 3px
}

#body_edit #designer_code {
    margin: 5px 0 5px
}

#body_edit #delete_current {
    position: relative;
    top: 2px;
    height: 13px
}

#body_edit #save_form p {
    margin: 0 !important
}

#body_edit #save_form p #id {
    margin-top: 5px
}

#body_edit #title, #body_edit #sort_order {
    margin: 5px 0
}

#body_edit #save_design {
    margin: 0 30px 5px 0
}

#body_edit select#category, #body_edit select#designer_code {
    height: 31px;
    padding: 5px
}

/*pagecontent-footer*/
#body_voorbeeld, #body_verzend, #body_bestel_login, #body_addresses, #body_address, #body_check, #body_basket, #body_kaarttype, #body_enveloppen {
    position: relative;
}

/*body_voorbeeld*/
#body_voorbeeld .choice_center {
    padding: 26px 0 0px
}

#body_voorbeeld .choice_center h1 {
    margin: 0;
    color: #676C45
}

/*body_verzend*/
#body_verzend .choice_center {
    width: 723px;
    padding: 3px 0 179px;
    text-align: center;
}

#body_verzend .choice_center:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden
}

#body_verzend .choice_center h1 {
    padding-bottom: 62px;
    color: #C5868B
}

#body_verzend .choice_center .choice_div {
    position: relative;
    width: 275px;
    display: inline-block;
    float: none;
    text-align: center;
}

#body_verzend #outer_meer .img_div span,
#body_verzend #outer_thuis .img_div span {
    text-transform: uppercase;
    display: block;
    text-align: center;
}

#body_verzend .choice_center .info_div {
    background: #fff;
    width: auto;
    height: 274px;
    padding: 0;
    border: 1px solid #c0bd93;
}

#body_verzend .choice_center .info_div .info_div_content {
    width: auto !important;
    margin-left: 16px;
    margin-right: 10px
}

#body_verzend .choice_center .info_div .info_div_content div {
    display: block !important;
    height: 125px !important;
    line-height: 21px;
    color: #262626 !important;
    font-size: 16px;
    text-align: left
}

#body_verzend .choice_center .info_div .img_div {
    display: block;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0
}

#body_verzend .choice_center .info_div .img_div span {
    display: block;
    position: inherit;
    width: auto !important;
    padding: 9px 0 20px 16px;
    color: #C5868B;
    font-size: 18px;
    text-align: left
}

#body_verzend .choice_center .info_div .img_div img {
    margin-top: -35px;
    margin-bottom: 15px
}

#body_verzend .button {
    position: absolute;
    bottom: 0;
    height: auto;
    background-color: #C5868B;
    left: 0;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
}

#body_verzend .button:hover {
    box-shadow: inset 0 0 10px #666;
}

/*body_bestel_login*/
#body_bestel_login .choice_center {
    width: 850px;
    padding: 3px 0 100px
}

#body_bestel_login .choice_center:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden
}

#body_bestel_login .choice_center h1 {
    padding-bottom: 62px;
    color: #C5868B
}

#body_bestel_login .choice_center div.choice_block {
    width: calc(33.333% - 30px);
    padding: 15px;
    margin: 0 15px;
    background: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

#body_bestel_login .choice_center div.choice_block table,
#body_bestel_login .choice_center div.choice_block table td {
    border: 0;
    padding: 0;
}

#body_bestel_login .color {
    line-height: 20px;
    color: #262626;
    font-weight: normal;
    font-size: 16px
}

#body_bestel_login .choice_block input[type="text"], #body_bestel_login .choice_block input[type="password"] {
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 0 6px 0 0;
    margin: 2px 0 1px;
    color: #262626;
    font-size: 15px;
    text-indent: 5px;
    font-family: 'gothic';
    border-width: 1px;
    border-style: solid;
    border-color: #b4b4b4 #b4b4b4 #d3d3d3 #d3d3d3;
}

#body_bestel_login .choice_block ul {
    padding-top: 16px;
    list-style: circle
}

#body_bestel_login .choice_block li {
    background: url("/img/bullet.png") no-repeat scroll 1px 9px rgba(0, 0, 0, 0);
    line-height: 20px;
    padding-left: 12px;
    font-size: 12px;
    list-style: square inside
}

#body_bestel_login .choice_block form {
    padding-top: 12px
}

#body_bestel_login .choice_center div.choice_block table {
    width: 100%;
    margin-left: -3px
}

#body_bestel_login .choice_center div.choice_block table b {
    color: #262626;
    font-weight: normal;
    font-size: 12px
}

#body_bestel_login div.choice_block .button {
    position: absolute;
    bottom: 14px !important;
    left: 16px;
    background: none;
    margin-left: 0
}

#body_bestel_login div.choice_block .button {
    font-family: "gothic";
    background: #FFF none repeat scroll 0% 0% !important;
    border-width: 1px 1px 3px;
    border-style: solid;
    border-color: #C2BD8C;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 5px;
    color: #676C45 !important;
    font-size: 15px;
    white-space: nowrap;
    display: block;
    width: 215px;
    height: auto;
}

/*body_addresses*/
#body_addresses table,
#body_addresses table td {
    border: 0;
}

#body_addresses input[type="file"] {
    border: none !important;
}

#body_addresses #pagecontent, #body_address #pagecontent {
    padding: 0 0 65px;
    margin-top: 0
}

#body_addresses #leftdiv, #body_address .leftdiv {
    width: 635px;
    position: relative;
    padding-top: 94px
}

#body_addresses #leftdiv {
    padding-top: 70px
}

#body_addresses #pagecontent h1, #body_address #pagecontent h1 {
    position: absolute;
    left: 0;
    top: 10px;
    width: 960px;
    color: #C5868B
}

#body_addresses #rightdiv, #body_address #rightdiv {
    float: right;
    width: 300px;
    margin-right: 25px;
    padding: 0
}

#body_addresses #order_address_preview, #body_addresses #order_present_preview, #body_address #order_present_preview {
    width: auto;
    border: 1px solid #dbf0e9;
    background: #fff;
    padding: 0;
    position: relative;
    text-align: center;
    height: auto
}

#body_address_n #pagecontent h1 {
    padding-bottom: 25px;
}

#body_addresses #order_address_preview {
    padding-bottom: 35px
}

#body_address #enveloppen_preview .title, #body_addresses #order_address_preview .title, #body_addresses #order_present_preview .title, #body_address #order_present_preview .title, #body_address #papier_preview .title {
    display: block;
    padding: 7px 10px 0 16px !important;
    color: #C5868B;
    font-size: 18px;
    font-family: 'GillSansMT';
    text-align: left
}

#body_addresses #order_address_preview br, #body_addresses #order_present_preview br, #body_address #order_present_preview br {
    display: none
}

#body_addresses #order_present_preview img, #body_address #order_present_preview img {
    margin: 15px 0 15px
}

#body_addresses #order_address_preview .addr_list {
    width: auto;
    height: auto;
    overflow: auto;
    margin-top: 18px
}

#body_addresses #delete2 {
    display: none
}

#body_addresses .addr_list {
    margin: 0;
    width: 230px
}

#body_addresses #order_present_preview, #body_address #order_present_preview {
    margin-top: 105px
}

#body_addresses #addr_prev, #body_addresses #addr_next, #body_addresses #addr_total {
    font-size: 11px;
    color: #456067;
    font-family: 'gothic', Verdana;
}

#body_addresses #addr_prev b, #body_addresses #addr_next b {
    font-weight: normal !important
}

#body_addresses #addr_total {
    width: 120px;
    color: #919191
}

#body_addresses #addr_prev {
    margin-left: 52px
}

#body_addresses .address, #body_address .address {
    background: none !important;
    width: auto;
    padding: 20px 20px 20px 25px;
    height: auto
}

#body_addresses .address table, #body_address .address table {
    width: 100%;
    margin: 0;
    position: inherit !important
}

#body_addresses .row-last br {
    display: none
}

#body_addresses .row-last span {
    float: left;
    margin-top: 20px
}

#body_addresses .row-last span#new {
    float: right;
    margin-top: 17px
}

#body_addresses #nav_buttons, #body_address #nav_buttons {
    width: 920px
}

#body_addresses .button_wide {
    width: auto
}

#body_addresses #abook, #body_addresses #upload, #body_address #abook {
    background: none !important;
    float: right;
    padding: 0;
    color: #676C45 !important;
    font-size: 16px;
    border: 0
}

#body_addresses #abook:hover, #body_addresses #upload:hover, #body_address #abook:hover {
    background: none !important;
    text-decoration: underline !important;
}

#body_addresses #new {
    background-image: none;
    height: auto;
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid #fff;
    background-color: #dcb0b4 !important;
    padding: 0 15px;
    color: #fff;
    font-family: 'brain_flower_euro';
    font-size: 25px;
    box-shadow: 2px 2px 0 #dcb0b4,
    -2px 2px 0 #dcb0b4,
    2px -2px 0 #dcb0b4,
    -2px -2px 0 #dcb0b4;
}

#body_addresses #new:hover {
    background-color: #ca979c !important
}

#body_addresses li {
    background: none !important;
    padding: 0 !important
}

#body_addresses #order_address_preview a {
    text-decoration: none !important
}

/*body_address*/
#body_address #papier_preview {
    background: #fff
}

#body_address #papier_content {
    width: auto;
    border: none;
    margin-top: 0;
    padding: 22px 20px 20px
}

#body_address .address {
    margin-top: -45px
}

#body_address .address .pad {
    text-align: right
}

#body_address #main_inner p {
    padding-left: 28px
}

#body_address .address td {
    height: 33px
}

/*body_check*/
#body_check #pagecontent {
    padding: 0 0 65px;
    margin-top: 0
}

#body_check .ui-accordion-header.ui-state-active {
    background: none !important;
    height: 44px;
    line-height: 45px;
    margin-bottom: 10px !important;
    color: #262626 !important;
    font-size: 20px;
    text-align: left
}

#body_check .ui-accordion-header.ui-state-active a {
    padding: 0;
    color: #C5868B;
    text-decoration: none !important;
    font-weight: 700;
}

#body_check .leftdiv {
    width: 465px;
    margin-left: 33px
}

#body_check .rightdiv {
    width: 425px;
    margin-top: 118px;
    margin-right: 35px
}

#body_check #accordion {
    width: auto
}

#body_check .choice_center > h1 {
    position: absolute;
    text-align: center;
    top: 41px;
    width: 100%;
    color: #C5868B
}

#body_check #accordion div.ui-accordion-content {
    background: none;
    height: 330px !important;
    line-height: 21px;
    padding: 0;
    color: #262626 !important;
    font-size: 16px;
    border: 0
}

#body_check #accordion div.ui-accordion-content #bezorgdatum {
    display: block;
    margin: 20px 0 10px;
    color: #C5868B;
    font-size: 16px;
    font-style: normal
}

#body_check #send_date_picker > div {
    background: #F4E9EA;
    width: 421px;
    padding: 0;
    border-left: 2px solid #f3f5f4;
    border-bottom: 2px solid #f3f5f4
}

#body_check #send_date_picker .ui-datepicker-header {
    background-color: #C5868B;
    height: 49px;
    padding: 0;
    margin-left: -2px
}

#body_check #send_date_picker table {
    margin-top: 9px;
    margin-bottom: 24px;
    width: 100% !important;
    margin: 0
}

#body_check #send_date_picker th {
    font-size: 13px
}

#body_check #send_date_picker {
    height: 400px
}

/*body_basket*/
#body_basket h1 {
    margin-top: 41px;
    color: #C5868B
}

#body_basket #basket {
    width: 960px;
    padding: 0 30px
}

#body_basket #basket .price {
    display: inline-block;
    float: none !important;
    margin-top: -11px
}

#body_basket #basket td {
    padding: 6px 0 !important;
    color: #262626;
    font-size: 16px;
    font-weight: normal !important;
    vertical-align: top;
    border-bottom-color: #aaffe2
}

#body_basket #basket .row-title td {
    padding-bottom: 15px !important;
    font-size: 17px
}

#body_basket #basket b {
    font-weight: normal
}

#body_basket #basket .row-title b {
    font-size: 18px
}

#body_basket #basket .line {
    padding: 3px 0 6px !important
}

#body_basket #rebate {
    background: none !important;
    width: 100%;
    height: 74px;
    padding: 0;
    margin: -52px 0 0 30px
}

#body_basket #rebate div.button {
    background: none !important;
    width: auto;
    height: 34px !important;
    line-height: 32px !important;
    padding: 0 20px 0 0 !important;
    color: #262626 !important;
    border: 0;
    cursor: default
}

#body_basket #rebate input, #body_basket #rebate div {
    float: left
}

#body_basket #rebate input {
    padding: 8px 5px;
    width: 140px !important;
    border: 1px solid #d3d3d3;
    border-top-color: #b4b4b4;
    border-right-color: #b4b4b4;
    -moz-box-shadow: inset -1px 1px #d9d9d9;
    -webkit-box-shadow: inset -1px 1px #d9d9d9;
    box-shadow: inset -1px 1px #d9d9d9
}

#body_basket #rebate input.button {
    width: auto !important;
    margin: 0 0 0 10px !important;
    padding: 0 15px 0 15px;
    border: 0;
    border-bottom: 2px solid #759ba6;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

#body_basket #rebate span {
    display: none !important
}

#body_basket .button-block, #body_basket .email_block {
    background: #f9f9f9;
    border-top: 2px solid #f0f2f1
}

#body_basket .email_block label, #body_basket .reference_block label {
    width: 292px;
    line-height: 17px;
    padding-right: 12px;
    font-size: 11px;
    font-family: 'gothic', Verdana;
}

#body_basket .reference_block label {
    padding-top: 8px
}

#body_basket .button-block {
    height: 131px;
    margin-top: -133px
}

#body_basket .button-block a.button {
    background: url(/img/arrow-next.png) no-repeat right 12px !important;
    padding-right: 22px;
    margin: 6px 33px 4px;
    color: #ed1c24 !important;
    font-size: 16px;
    text-transform: none;
    border: 0
}

#body_basket .button-block a.button:hover {
    text-decoration: underline !important
}

#body_basket .button-block a.button:active {
    padding-top: 0
}

#body_basket .button-block #pay {
    background: url("/img/bg_step_forward_big.png") 100% 0 no-repeat !important;
    float: right;
    width: auto;
    height: 70px !important;
    padding: 0 44px 0 15px;
    margin: 0 23px 0 0;
    color: #fff !important;
    text-align: right;
    text-transform: none !important;
    border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
    -webkit-border-radius: 10px 0 0 0;
    border: 0
}

#body_basket .button-block #pay .oneline {
    display: none
}

#body_basket .button-block #pay .twoline strong, #body_basket .button-block #pay .oneline span {
    display: block;
    font-size: 21px;
    font-weight: normal
}

#body_basket .button-block #pay .twoline span {
    display: block;
    margin-right: -2px;
    margin-top: 2px;
    font-size: 15px
}

#body_basket .button-block #pay:hover {
    background-position: 100% -82px !important
}

#body_basket .button-block #pay:active {
    background-position: 100% -167px !important
}

#body_basket .button-block #pay:active .twoline strong, #body_basket .button-block #pay:active .oneline span {
    margin-top: 2px
}

#body_basket .email_block {
    padding: 27px 0 10px
}

#body_basket .reference_block {
    background: #f9f9f9;
    padding: 0 0 26px
}

#body_basket input[type=text] {
    padding: 7px 5px 8px;
    font-family: 'gothic', Verdana;
    font-size: 14px;
    color: #262626;
    margin-bottom: 10px;
}

/*body_kaarttype*/
#body_kaarttype #pagecontent {
    padding: 21px 0 147px;
    margin: 0
}

#body_kaarttype #pagecontent h1 {
    padding: 0 0 72px;
    color: #C5868B
}

#body_kaarttype .choice_center {
    width: 603px
}

#body_kaarttype .choice_center:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden
}

#body_kaarttype .info_div, #body_kaarttype .choice_div_content {
    background: none;
    width: 177px;
    height: 150px;
    background-color: #F4E9EA
}

#body_kaarttype .choice_div .info_div {
    text-align: center
}

#body_kaarttype .choice_div img {
    position: static;
    top: 0
}

#body_kaarttype .choice_div {
    margin: 0 12px 50px;
    padding: 0;
    width: 177px
}

#body_kaarttype .choice_div .button {
    background-color: #C5868B;
    border-radius: 0;
    height: auto;
}

#body_kaarttype .choice_div a:hover .button {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .5)
}

#body_kaarttype .info_div_content {
    display: none;
    position: absolute;
    bottom: 19px;
    left: 0;
    width: 177px;
    line-height: 20px;
    margin: 0;
    color: #262626;
    font-size: 16px;
    text-align: center;
    text-transform: lowercase
}

#body_kaarttype .bold {
    color: #262626;
    font-weight: normal !important
}

/*body_enveloppen*/
#body_enveloppen #pagecontent {
    padding: 27px 0 100px;
    margin: 0
}

#body_enveloppen #pagecontent h1 {
    width: 960px;
    padding: 0;
    margin: 0;
    color: #C5868B
}

#body_enveloppen .leftdiv {
    width: 635px
}

#body_enveloppen .rightdiv {
    width: 300px;
    margin: 65px 25px 0 0
}

#body_enveloppen .address {
    background: none;
    height: auto;
    width: auto;
    padding: 0 20px 20px 25px;
    margin-top: -34px
}

#body_enveloppen .address table {
    width: 100%;
    margin: 0
}

#body_enveloppen .rightdiv #accordion {
    width: auto;
    border: 1px solid #dbf0e9;
    background: #fff;
    padding: 0;
    position: relative;
    text-align: center;
    height: auto
}

#body_enveloppen .rightdiv #accordion .ui-accordion-header {
    display: block;
    background: none;
    padding: 7px 10px 0 16px !important;
    color: #C5868B;
    font-size: 17px;
    font-family: 'GillSansMT';
    text-align: left
}

#body_enveloppen .rightdiv #accordion .ui-accordion-header a {
    display: block;
    padding: 0;
    color: #C5868B;
    font-size: 17px;
    text-align: left;
    text-decoration: none !important
}

#body_enveloppen .rightdiv #enveloppen_thumbs {
    float: left;
    width: 298px;
    max-height: 312px;
    overflow-y: auto;
    overflow-x: hidden
}

#body_enveloppen .rightdiv #enveloppen_thumbs div {
    width: 93px
}

#body_enveloppen .rightdiv #accordion div.ui-accordion-content {
    height: auto !important;
    padding: 10px 0 12px;
    border: 0
}

#body_enveloppen .rightdiv #accordion div.ui-accordion-content .enveloppen_beschrijving {
    line-height: 21px;
    padding: 15px 17px 0;
    text-align: left;
    color: #262626;
    font-size: 16px
}

#body_enveloppen .ui-widget-content a {
    color: #ed1c24
}

#body_keuze .choice_div .button {
    display: block;
    background-color: #C48187;
    color: #fff;
    height: auto;
    border-radius: 0;
}

#body_address_n #right_div {
    float: right;
    width: 263px;
}

#body_address_n #right_div table {
    width: 100%;
    padding-left: 0;
    max-width: inherit;
}

#body_address_n #left_div {
    border-right: 1px solid #262626;
    padding-right: 18px;
    width: 662px;
}

#body_address_n #left_div table {
    border: none !important;
    padding: 0 !important;
    width: 100%;
}

#body_address_n #left_div input[type="text"] {
    padding: 8px 1%;
    width: 98%;
    border: 1px solid #d3d3d3;
}

#body_address_n #left_div select {
    width: 100%;
    padding: 8px 1%;
    border: 1px solid #d3d3d3;
}

#body_address_n .line hr {
    margin: 0;
}

#body_address_n #left_div table td {
    padding: 4px 0 4px 5px;
}

#body_address_n #newsletter input {
    display: inline-block;
    vertical-align: top;
    float: none;
    vertical-align: middle;
    margin-top: 0 !important;
}

#body_address_n .promise {
    display: inline;
}

#body_basket #basket_n {
    width: 100%;
    background-color: #fff;
}

#body_keuze .choice_center {
    text-align: center;
}

#body_keuze .choice_div {
    display: inline-block;
    float: none !important;
}

#body_keuze .choice_div:nth-child(3) {
    display: none;
}

#body_ok #pagecontent {
    padding-bottom: 60px !important;
}

#body_ok #pagecontent h1 {
    margin: 30px 0 20px !important;
}

#body_ok #pagecontent {
    padding-left: 50px;
    padding-right: 50px;
    width: 860px;
}

#body_address #enveloppen_preview .enveloppen_beschrijving {
    padding: 5px 20px 20px 20px;
}

#body_address #papier_preview ul li {
    background: none !important;
    padding-left: 0 !important;
}

#body_address #enveloppen_thumbs {
    padding: 20px 0 0 0;
    overflow: hidden;
}

#body_address #enveloppen_thumbs div {
    width: 85px;
}

#body_address #pagecontent {
    min-height: 700px !important;
}

#body_address #enveloppen_preview .title {
    background: none;
    margin-top: 0;
}

#body_address .leftdiv table tr:last-child {
    display: none;
}

#submit-form {
    display: none;
}

#body_edit #submit-form {
    display: block !important;
}

#body_cadeau .choice_center h1 {
    font-family: "Shadows Into Light";
    color: #e2aa26 !important;
    font-size: 28px;
}

#body_cadeau .choice_center div.choice_div:nth-child(1) {
    display: none !important;
}

#body_cadeau .choice_center .choice_div {
    margin: 0 16px 0 0;
    padding: 0;
    position: relative;
    width: auto !important;
    height: 234px;
    display: inline-block;
    float: none;
}

#body_cadeau .choice_center .choice_div a[href="/cadeau/rouwboeket"]:first-child:hover,
#body_cadeau .choice_center .choice_div a[href="/cadeau/Bloemen"]:first-child:hover,
#body_cadeau .choice_center .choice_div a[href="/cadeau/wijn"]:first-child:hover,
#body_cadeau .choice_center .choice_div a[href="/cadeau/Babykado"]:first-child:hover,
#body_cadeau .choice_center .choice_div a[href="/cadeau/chocolade"]:first-child:hover {
    filter: progid:DXImageTransform.Microsoft.alpha(opacity=70);
    -moz-opacity: 70;
    opacity: 0.70;
}

#body_cadeau .choice_center .choice_div a[href="/cadeau/chocolade"]:first-child div {
    background: url(/img/cadeaus/cadeau-chocolade.jpg) no-repeat 0 0 !important;
    width: 229px !important;
    height: 178px !important;
}

#body_cadeau .choice_center .choice_div a[href="/cadeau/Babykado"]:first-child div {
    background: url(/img/cadeaus/cadeau-babykado.jpg) no-repeat 0 0 !important;
    width: 229px !important;
    height: 178px !important;
}

#body_cadeau .choice_center .choice_div a[href="/cadeau/wijn"]:first-child div {
    background: url(/img/cadeaus/cadeau-wijn.jpg) no-repeat 0 0 !important;
    width: 229px !important;
    height: 178px !important;
}

#body_cadeau .choice_center .choice_div a[href="/cadeau/Bloemen"]:first-child div {
    background: url(/img/cadeaus/cadeau-bloemen.jpg) no-repeat 0 0 !important;
    width: 347px !important;
    height: 178px !important;
}

#body_cadeau .choice_center .choice_div a[href="/cadeau/rouwboeket"]:first-child div {
    background: url(/img/cadeaus/cadeau-rouwboeketten.jpg) no-repeat 0 0 !important;
    width: 359px !important;
    height: 178px !important;
}

#body_cadeau .choice_center .choice_div img {
    display: none;
}

#body_cadeau #cadeau_div {
    width: auto;
    margin: 0;
    top: 0;
    width: 229px;
    height: 0;
    text-align: left;
}

#body_cadeau #choice_div_4 #cadeau_div,
#body_cadeau #choice_div_3 #cadeau_div {
    width: 349px;
}

#body_cadeau #cadeau_div a {
    text-decoration: none !important;
}

#body_cadeau #cadeau_div span.bold {
    color: #537882;
    font-size: 13px;
    position: absolute;
    left: 0;
    top: 181px;
}

#body_cadeau .choice_center h1 {
    margin-bottom: 30px;
    color: #4ca986;
}

#body_cadeau .choice_center .choice_div .button {
    background: url(/img/bg-button/05.png) no-repeat !important;
    border: none !important;
    height: 45px !important;
    line-height: 45px;
    padding: 0 15px 0 20px;
    color: #262626 !important;
    font-size: 15px;
    position: absolute;
    right: 0;
    top: 133px;
}

#body_cadeau .choice_center {
    width: 960px;
}

#body_cadeau_category #cadeau_choice_list {
    padding: 0 19px 38px;
    width: auto;
}

#body_cadeau_category #cadeau_choice_list .ontop {
    display: none;
}

#body_cadeau_category #cadeau_choice_list .catimage {
    margin: 0;
    position: inherit !important;
    height: auto;
    width: 123px;
}

#body_cadeau_category #cadeau_choice_list a {
    display: block;
    text-decoration: none !important;
}

#body_cadeau_category #cadeau_choice_list a:hover {
    text-decoration: none;
}

#body_cadeau_category #cadeau_choice_list .prijs {
    background: none;
    position: inherit !important;
    margin: 0;
    padding: 10px 0 0 0;
    height: auto;
    color: #537882;
    font-size: 16px;
    display: block;
    text-align: center;
    width: auto;
    text-decoration: none;
}

#body_cadeau_category #cadeau_choice_list .catname {
    background: none;
    position: inherit !important;
    margin: 0;
    padding: 0;
    height: auto;
    color: #e10219;
    font-size: 15px;
    display: block;
    text-align: center;
    width: auto;
    text-decoration: none;
}

#content-product {
    float: right;
    width: 710px;
    padding-top: 51px;
}

#body_cadeau_details #cadeau_big_preview {
    background-position: center top;
    width: 386px;
    text-align: center;
    position: relative;
}

#body_cadeau_details #cadeau_description {
    float: right;
    width: 255px;
    margin: 0;
    position: relative;
    background-color: #f8f9f9;
    padding: 145px 18px 13px 27px;
}

#body_cadeau_details #cadeau_description p em {
    position: absolute;
    left: 27px;
    top: 45px;
    color: #702b2b;
    font-size: 13px;
    font-style: italic;
    font-family: "gothic" !important;
}

#body_cadeau_details #cadeau_description p em span {
    font-family: "gothic" !important;
    font-size: 13px !important;
}

#body_cadeau_details #cadeau_description p em span span {
    font-size: 13px !important;
}

#body_cadeau_details #cadeau_description h2 {
    display: none;
}

#body_cadeau_details .prijs {
    background: none;
    height: auto;
    width: 150px;
    position: absolute;
    right: -202px;
    top: 18px;
    color: #537882 !important;
    font-size: 21px;
    font-family: "gothic", Verdana;
    padding: 0;
    z-index: 100;
    text-align: left;
}

#body_cadeau_details .prijs h2 {
    font-size: 21px;
    color: #537882 !important;
    line-height: normal;
}

#body_cadeau_category .choice_center,
#body_cadeau_details .choice_center {
    width: 960px;
    margin: 0;
}

#body_cadeau_category .choice_center h1,
#body_cadeau_details .choice_center h1 {
    float: right;
    width: 710px;
    text-align: left;
    font-family: "Shadows Into Light";
    color: #e2aa26;
    padding: 0;
    margin-bottom: -21px;
}

#body_cadeau_category #categories,
#body_cadeau_details #categories {
    width: 220px;
}

#body_cadeau_category #categories div,
#body_cadeau_details #categories div {
    border: 1px solid #dbefed;
    margin: 0 0 13px;
    padding: 0 10px 0 17px;
}

#body_cadeau_category #categories div h3,
#body_cadeau_details #categories div h3 {
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-family: "Shadows Into Light";
    text-transform: none !important;
    line-height: normal;
}

#body_cadeau_category #categories div h3 a,
#body_cadeau_details #categories div h3 a {
    color: #e2aa26;
    text-transform: none !important;
    line-height: 40px;
    display: block;
}

#body_cadeau_category #categories div ul,
#body_cadeau_details #categories div ul {
    border: none;
    margin: 0;
    padding: 12px 0 5px;
}

#body_cadeau_category #categories div ul li,
#body_cadeau_details #categories div ul li {
    padding: 1px 0 6px;
    line-height: 22px !important;
}

#body_cadeau_category #categories div ul li a,
#body_cadeau_details #categories div ul li a {
    color: #404040;
    font-size: 13px;
}

#body_cadeau_details #categories div ul li a.active {
    color: #e2aa26;
}

#body_cadeau .topheadinner a,
#body_cadeau_category .topheadinner a,
#body_cadeau_details .topheadinner a {
    background: url("/img/line-topmenu-edit5.png") no-repeat scroll right center rgba(0, 0, 0, 0) !important;
    color: #e2aa26 !important;
}

#body_cadeau #headerbasket,
#body_cadeau_category #headerbasket,
#body_cadeau_details #headerbasket {
    background: #e2aa26 !important;
    color: #fff !important;
}

#body_cadeau #headerlogout,
#body_cadeau #headerlogin,
#body_cadeau_category #headerlogout,
#body_cadeau_category #headerlogin,
#body_cadeau_details #headerlogout,
#body_cadeau_details #headerlogin {
    background: none !important;
}

#cadeau_description .maak {
    position: absolute;
    left: 27px;
    top: 80px;
    width: 255px;
}

#cadeau_description .maak .button {
    background: url("/img/bg_button_red.png") 100% 0 no-repeat !important;
    width: auto;
    height: 45px !important;
    line-height: 41px;
    padding: 0 35px;
    margin: 4px 0 0 0;
    color: #fff !important;
    font-size: 21px;
    text-align: left;
    text-transform: none !important;
    text-decoration: none !important;
    border-radius: 8px 0 0 0;
    -moz-border-radius: 8px 0 0 0;
    -webkit-border-radius: 8px 0 0 0;
    border: 0
}

#cadeau_description .maak .button:hover {
    background-position: 100% -52px !important;
    text-decoration: none
}

#cadeau_description .maak .button:active {
    background-position: 100% -104px !important;
    line-height: 45px
}

.ui-accordion-content hr {
    margin-bottom: 10px !important;
}

.ui-accordion-content #designer_code, .ui-accordion-content #category {
    width: 100%;
}

.ui-accordion-content #save_user_design {
    margin-bottom: 10px !important;
}

.ui-accordion-content #save_design {
    margin-top: 3px !important;
}

.tag_group #design {
    height: 15px !important;
}

#pagecontent-footer {
    width: 980px;
    margin: 15px auto 0;
}

#pagecontent-footer ul {
    float: left;
}

#pagecontent-footer li {
    display: inline-block;
    color: #949494;
    font-size: 11px;
    text-transform: uppercase;
}

#pagecontent-footer li a {
    color: #949494;
    text-transform: uppercase;
}

#pagecontent-footer > p {
    float: right;
    position: relative;
    top: -5px;
}

#pagecontent-footer > p img {
    width: 85px;
}

#step_back,
#step_forward_alternate {
    font-size: 20px;
    font-family: 'Amatica SC', cursive;
    color: #202020 !important;
    font-weight: 600;
}

#step_back:hover,
#step_forward_alternate:hover {
    color: #202020 !important;
}

#step_back:before {
    content: "<<";
    display: inline-block;
    margin-right: 15px;
    font-size: 22px;
    letter-spacing: -3px;
    vertical-align: top;
    font-family: Antic,Varela Round,sans-serif;
}

#step_forward_alternate:after,
#step_forward:after {
    content: ">>";
    display: inline-block;
    margin-left: 10px;
    font-size: 22px;
    letter-spacing: -3px;
    vertical-align: top;
    font-family: Antic,Varela Round,sans-serif;
}

.ui-dialog {
    padding: 0;
}

.ui-dialog .ui-dialog-content {
    padding-right: 0;
    padding-top: 0;
}

#body_bestel_details #column1 {
    width: 60%;
    padding-right: 0;
}

#body_bestel_details #column1 table,
#body_bestel_details #column1 table td {
    border: 0;
    vertical-align: middle;
}

#body_bestel_details #column1 table {
    width: 100%;
}

#body_bestel_details #column2 {
    width: 40%;
    padding: 0 0 0 15px;
}

#body_bestel_details #price_table_wrapper {
    width: auto;
    border: 0;
}

#body_bestel_details #price_table {
    width: 100%;
    margin: 0;
    font-size: 11px;
}

#body_bestel_details input[type="text"] {
    width: 100%;
    height: auto;
    line-height: normal;
}

#body_bestel_details #vimg,
#body_bestel_details .envelop_preview {
    margin: 0;
}

#body_bestel_details .ui-selectmenu-text, #body_bestel_details .ui-menu-item {
    height: auto;
    line-height: normal;
}

#body_basket .line {
    border-top: 1px solid #ddd;
}

#basket_n,
#basket_n td {
    border: 0;
    padding: 6px 10px;
}

#body_basket #nav_buttons .button {
    font-family: 'Amatica SC', cursive;
    cursor: pointer;
    margin-bottom: 2px !important;
    cursor: pointer !important;
    border-radius: 0 !important;
    background-color: #C29E6F !important;
    padding: 0px 15px !important;
    color: #FFF !important;
    font-size: 30px !important;
}

#body_address_n table,
#body_address_n table td {
    border: 0;
}

#body_address_n #pagecontent {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}

#body_address_n #left_div {
    width: 70%;
}

#body_address_n #right_div {
    width: 30%;
}

#body_address_n #my_address_save + label,
#body_address_n .terms_and_conditions label,
#body_address_n #newsletter label {
    font-size: 12px;
    font-weight: 400;
}

#body_addresses #done {
    font-size: 30px;
    font-family: 'brain_flower_euro';
    color: #676c45 !important;
}

#body_addresses #done:hover {
    color: #C5868B !important;
}

#body_addresses #done:after {
    content: ">>";
    display: inline-block;
    margin-left: 15px;
}

#body_address_n h3 {
    font-size: 14px !important;
}

#body_address_n #pagecontent #right_div table td {
    padding: 0 20px;
}

#arrow {
    background-color: #fff !important;
}

#header #home {
    display: block !important;
    background: url('/img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    top: -15px;
}

#body_size .info_div .img_div {
    padding-right: 17px;
}

#body_edit #canvas * {
    box-sizing: initial !important;
}

.button-group .button {
	width: 140px;
    font-family: 'gothic';
    background: #fff !important;
    border: 1px solid #c2bd8c;
    border-radius: 5px;
    border-bottom-width: 3px;
    color: #676c45 !important;
    font-size: 13px;
    white-space: nowrap;
    cursor: pointer;
    height: 35px!important;
}
#page_edit_nav_new {
    margin-left: 160px;
}
