/** GLOBAL - BASE -----------------------------------------**/

body {
    font-family: 'Open Sans', sans-serif;
}

textarea,
input,
button {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.main-title {
    font-family: 'Homemade Apple', 'Amatic SC', cursive;
    color: #000;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.3em;
    text-align: left;
}

h2,
h3,
h4,
h5,
h6 {
    color: #000;
}

.header-vertical-space {
    padding: 1em 0;
}

h1 {
    margin: 0 0 25px 0;
    font-size: 28px;
    line-height: 1em;
    padding: 1em 0 0em 0;
    text-align: center;
}

h3 {
    font-size: 24px;
}

.main-title {
    font-size: 22px;
}


a,
a:active,
a:focus,
a:hover {
    color: #C29E6F;
}


table {
    border: 1px solid #6c7075;
}

.table>thead>tr>th {
    font-family: SecondFont, Antic, Varela Round, sans-serif;
    text-align: left;
    background-color: #6c7075;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.table>thead>tr>td,
.table>thead>tr>th {
    border-top: none;
    border-right: 1px solid #fff;
    border-bottom: none;
}

.table>thead>tr>td:last-child,
.table>thead>tr>th:last-child {
    border-right: none;
}

.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-right: 1px solid #6c7075;
    border-top: 1px solid #6c7075;
}

.table>tbody>tr>td:last-child,
.table>tfoot>tr>td:last-child {
    border-right: none;
}

.table>tbody>tr:first-child {
    border-top: none;
}


@media only screen and (min-width: 768px) {
    h1 {
        font-size: 40px;
        text-align: left;
    }
}