/** GLOBAL - FONTS -----------------------------------------**/


@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Open+Sans:300,400,700');


@font-face {
    font-family: Impactlabel;
    src: url("/css/fonts/Impact_Label.ttf");
}

@font-face {
    font-family: ImpactLabelReversed;
    src: url("/css/fonts/Impact_Label_Reversed.ttf");
}
