<script src="/common/components-js/vendor/cycle.js">
</script>
<script src="/common/components-js/vendor/jquery.cycle2.carousel.min.js"></script>
<script src="/common/components-js/vendor/caro.js"></script>
<script src="/common/components-js/navbar.js"></script>
<script src="/common/components-js/custom.js"></script>
<script src="/css/js/components/thumbnail-scroller.js"></script>
<script src="/css/js/components/thumbnail-slider.js"></script>
<script src="/css/js/components/accordion.js"></script>
<script src="/css/js/components/foldmenu.js"></script>
<script src="/css/js/components/custom.js"></script>