    <p style="text-align: center;">Vind hier een overzicht van alle Poppekop geboortekaartjes.</p>
    <p style="text-align: center;">Pas het ontwerp helemaal aan naar eigen wens en bestel voor &euro; 1,- een proefdruk.</p>
    
    <div class="cols">
        <div class="xs-12  sm-6 ">
            <div class="buttongroup">
                <a class="button button-sm" href="/geboortekaartjes">overzicht</a>
                <a class="button button-sm" href="/geboortekaartjes-jongen">jongen</a>
                <a class="button button-sm" href="/geboortekaartjes-meisje">meisje</a>
                <a class="button button-sm" href="/geboortekaartjes-tweeling">tweeling</a>
            </div>
        </div>        
            <div class="xs-12  sm-6 ">
                <a class="button" href="/zelf-maken">ontwerp het zelf</a>
            </div>
        </div>
    </div>










