<link href="https://fonts.googleapis.com/css?family=Amatica+SC" rel="stylesheet" />

<link href="/css/customtemp.css" rel="stylesheet" />


<link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<div class="navbar">
    <div class="topbar">
        <div class="container">
            <button class="navbar-hamburger" type="button">
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
            </button>
            <a class="logo" href="/"><img alt="Studio Poppekop" class="logosmall logo-default" src="/img/logo.png" /> </a>
            <div class="topbar-menu-left">
                <a href="https://www.studiopoppekop.nl" target="_blank">Studio Poppekop</a>
                <a href="/prijzen" title="Gratis verzending">Gratis verzending</a>
                <a href="/prijzen" title="Proefdruk 1,-">Proefdruk 1,-</a>
                <a href="/bezorging" title="Voor 18:00 besteld, morgen in huis">Voor 18:00 besteld, morgen in huis</a>
            </div>
            <div class="topbar-menu-right">
                <ul>
                    <li>
                        <a class="basket" href="/contact" title="Contact">
                            <i class="icon icon-mail">&nbsp;</i>
                            <span>Contact</span>
                        </a>
                    </li>
                    <li class="info dropdown js-dropdown">
                        <a class="help js-dropdown-click" href="/hulp" title="Hulp">
                            <i class="icon icon-info">&nbsp;</i>
                            <span>Info &amp; Prijzen</span>
                        </a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/prijzen">Prijzen</a>
                            </li>
                            <li>
                                <a href="/proefdruk">Proefdruk</a>
                            </li>
                            <li>
                                <a href="/enveloppen-info">Enveloppen</a>
                            </li>
                            <li>
                                <a href="/betalen">Betalen</a>
                            </li>
                            <li>
                                <a href="/direct-verzenden">Directe verzending</a>
                            </li>
                            <li>
                                <a href="/bezorging">Bezorging</a>
                            </li>
                            <li>
                                <a href="/garantie">Garantie</a>
                            </li>
                            <li>
                                <a href="/privacy">Privacy</a>
                            </li>
                            <li>
                                <a href="/faq">Veelgestelde vragen</a>
                            </li>
                            <li>
                                <a href="/algemene_voorwaarden">Algemene voorwaarden</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown js-dropdown" id="navbar-logout">
                        <a class="js-dropdown-click account" href="javascript:void(0);" title="Account">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Account</span>
                        </a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/account_address">Persoonsgegevens</a>
                            </li>
                            <li>
                                <a href="/account_password">Wachtwoord wijzigen</a>
                            </li>
                            <li>
                                <a href="/account_nieuwsbrief">Nieuwsbrief instellingen</a>
                            </li>
                            <li>
                                <a href="/account_orders">Bestellingen</a>
                            </li>
                            <li>
                                <a href="/eigen_collectie">Eigen collectie</a>
                            </li>
                            <li style="border-top: 1px dashed #e0e0e0;">
                                <a href="/logout">Uitloggen</a>
                            </li>
                        </ul>
                    </li>
                    <li id="navbar-login">
                        <a class="inloggen" href="/login" title="Inloggen">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Inloggen</span>
                        </a>
                    </li>
                    <li>
                        <a class="basket" href="/basket_n" title="Winkelmandje">
                            <i class="icon icon-basket">&nbsp;</i>
                            <span id="navbar-basket">0 items</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topbar-account-mob">
                <i class="icon icon-user">&nbsp;</i>
            </div>
            <div class="topbar-favourites-mob">
                <a href="/eigen_collectie">
                    <i class="icon icon-heart-outline">&nbsp;</i>
                </a>
            </div>
            <div class="topbar-basket-mob">
                <i class="icon icon-basket">&nbsp;</i>
            </div>
            <div class="topbar-basket-menu-mob">
                <p class="basket-items-count">&nbsp;</p>
                <ul>
                    <li>
                        <a href="/basket_n">Winkelmand</a>
                    </li>
                    <li>
                        <a href="/account">Account</a>
                    </li>
                    <li>
                        <a href="/eigen_collectie">Eigen collectie</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/login">Inloggen</a>
                    </li>
                </ul>
            </div>
            <div class="topbar-account-menu-mob">
                <p class="account-mobile-menu-title">Account</p>
                <ul>
                    <li>
                        <a href="/login">Inloggen</a>
                    </li>
                    <li>
                        <a href="/eigen_collectie">Eigen collectie</a>
                    </li>
                    <li>
                        <a href="/account_adresboek">Adresboek</a>
                    </li>
                    <li>
                        <a href="/account_adres_9mport">Adressen importeren</a>
                    </li>
                    <li>
                        <a href="/account">Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middlebar">
        <div class="nav-m">
            <div class="mobile-nav__highlight-items">
                <span class="mobile-nav__highlight-item">
                    <a href="/">Home</a>
                    <!-- default -->
                </span>
            </div>
            <span class="mobile-nav__menu navbar-hamburger">
                <button type="button">
                    <span class="icon-bar">&nbsp;</span>
                    <span class="icon-bar">&nbsp;</span>
                    <span class="icon-bar">&nbsp;</span>
                </button> menu </span>
        </div>
        <div class="container">
            <div class="collapse">
                <a class="logo" href="/" title="Studio Poppekop"><img alt="Studio Poppekop" src="/img/logo.png" /></a>
                <ul class="middlebar-menu-right">
                    <li>
                        <a href="/geboortekaartjes">Geboortekaartjes</a>
                    </li>
                    <li>
                        <a href="/trouwen">&nbsp;Trouwkaarten</a>
                    </li>
                    <li class="dropdown js-dropdown">
                        <a class="js-dropdown-click" href="javascript:void(0);">Meer kaartjes</a>
                        <ul class="dropdown-content js-dropdown-content ">
                            <li>
                                <a href="/wenskaarten">Wenskaarten</a>
                            </li>
                            <li>
                                <a href="/uitnodigingen">Uitnodigingen</a>
                            </li>
                            <li>
                                <a href="/categorieen">Overige kaartjes</a>
                            </li>
                            <li>
                                <a href="https://www.studiopoppekop.nl/c-3850290/ontwerpstudio/" target="_blank">Ontwerp door Studio Poppekop</a>
                            </li>
                            <li>
                                <a href="/zelf-maken">Ontwerp het zelf met de Editor</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown js-dropdown">
                        <a class="js-dropdown-click" href="javascript:void(0);">Mooi versturen</a>
                        <ul class="transition-ease dropdown-content js-dropdown-content">
                            <li>
                                <a href="https://www.studiopoppekop.nl/c-3443553/mooi-versturen/" target="_blank">Sluitzegels</a>
                            </li>
                            <li>
                                <a href="https://www.studiopoppekop.nl/c-3443553/mooi-versturen/" target="_blank">Wax stempels</a>
                            </li>
                            <li>
                                <a href="https://www.studiopoppekop.nl/c-3443553/mooi-versturen" target="_blank">Confetti</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown js-dropdown">
                        <a class="js-dropdown-click" href="javascript:void(0);">Extra&#39;s</a>
                        <ul class="transition-ease dropdown-content js-dropdown-content">
                            <li>
                                <a href="https://www.studiopoppekop.nl/c-3246019/posters/" target="_blank">Posters</a>
                            </li>
                            <li>
                                <a href="https://www.studiopoppekop.nl" target="_blank">Muurstickers</a>
                            </li>
                            <li>
                                <a href="https://www.studiopoppekop.nl" target="_blank">Mijlpijlkaarten</a>
                            </li>
                            <li>
                                <a href="https://www.studiopoppekop.nl" target="_blank">Posterhouders</a>
                            </li>
                            <li>
                                <a href="https://www.studiopoppekop.nl" target="_blank">Kaartenhouders</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar-search">
                        <a class="open-navbar-search" href="javascript:void(0)">
                            <i class="icon icon-search">&nbsp;</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navbar-search-field">
                <form action="search.php" method="get">
                    <div class="navbar-search-wrapper">
                        <button class="search-button-field" name="search" type="submit" value="Go">
                            <i class="icon icon-search">&nbsp;</i>
                        </button>
                        <div class="search-input-field">
                            <input name="search" placeholder="Zoeken" type="text" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- MOBILE HEADER HIGHLIGHT MENUS -->
<!-- 
    The default highlight menu is 'highlight'. 
    The default highlight menu for 'geboortekaartjes' would be 'highlight_geboortekaartjes'. 
    The page geboortekaartjes/geboortekaartjes-jongen' will also use this highlight menu 'highlight_geboortekaartjes'.
    Unless 'highlight_geboortekaartjes_geboortekaartjes-jongen' is defined as a menu.

    The naming uses _ instead of /
-->
<div class="js-highlight-menus" id="highlight-menus">
    <div class="hide" id="highlight">
        <!-- THIS IS DEFAULT -->
        <span class="mobile-nav__highlight-item">
            <a href="/geboortekaartjes">Geboortekaartjes</a>
        </span>
        <span class="mobile-nav__highlight-item">
            <a href="/trouwkaarten">Trouwkaarten</a>
        </span>
        <span class="mobile-nav__highlight-item">
            <a href="/uitnodigingen">Uitnodiging</a>
        </span>
        <span class="mobile-nav__highlight-item">
            <a href="/zelf-maken">Zelf maken</a>
        </span>
        <span class="mobile-nav__highlight-item">
            <a href="/wenskaarten">Wenskaarten</a>
        </span>
    </div>
    <div class="hide" id="highlight_zelf-maken">
        <span class="mobile-nav__highlight-item">
            <a href="/trouwkaarten">Trouwkaarten</a>
        </span>
        <span class="mobile-nav__highlight-item">
            <a href="/uitnodiging">Uitnodiging</a>
        </span>
        <span class="mobile-nav__highlight-item">
            <a href="/zelf-maken">Zelf maken</a>
        </span>
    </div>
</div>