<!-- <link href="https://fonts.googleapis.com/css?family=Amatica+SC" rel="stylesheet" />
 -->

 <link href="/css/customtemp.css" rel="stylesheet" />
<link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<div class="navbar navbar-style-1 ">
    <div class="topbar">
        <div class="container">
            <button class="navbar-hamburger js-open-middlebar-menu-right-mob" type="button">
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
            </button>
            <a class="logo" href="/"><img alt="Studio Poppekop" class="logosmall logo-default" src="/img/logo.png" /> </a>
            <div class="topbar-menu-left">
                <a href="https://www.studiopoppekop.nl" target="_blank">Studio Poppekop</a> | 
                <a href="/prijzen" title="Gratis verzending">Gratis verzending</a> | 
                <a href="/prijzen" title="Proefdruk 1,-">Proefdruk 1,-</a> | 
                <a href="/bezorging" title="Voor 18:00 besteld, morgen in huis">Voor 18:00 besteld, morgen in huis</a>
            </div>
            <div class="topbar-menu-right">
                <ul>
                    <li class="phone">
                        <a class="hphone" href="tel:0857430752" title="085-7430752">
                            <i class="icon icon-phone">&nbsp;</i>
                            <span>085 - 743 07 52</span>
                        </a>
                    </li>
                    <li class="contact">
                        <a class="basket" href="/contact" title="Contact">
                            <i class="icon icon-mail">&nbsp;</i>
                            <span>Contact</span>
                        </a>
                    </li>
                    <li class="info dropdown js-dropdown">
                        <a class="help js-dropdown-hover" href="javascript:void(0);" title="Hulp">
                            <i class="icon icon-info">&nbsp;</i>
                            <span>Info &amp; Prijzen</span>
                        </a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/prijzen">Prijzen</a>
                            </li>
<!--                             <li>
                                <a href="/proefdruk">Proefdruk</a>
                            </li>
 -->                            <li>
                                <a href="/enveloppen-info">Enveloppen</a>
                            </li>
                            <li>
                                <a href="/betalen">Betalen</a>
                            </li>
                            <li>
                                <a href="/Verzenden">Verzenden</a>
                            </li>
                            <li>
                                <a href="/Verzenden">Bezorging</a>
                            </li>
                            <li>
                                <a href="/garantie">Garantie</a>
                            </li>
                            <li>
                                <a href="/privacy">Privacy</a>
                            </li>
                            <li>
                                <a href="/Wie%20zijn%20wij">Veelgestelde vragen</a>
                            </li>
                            <li>
                                <a href="/algemene-voorwaarden">Algemene voorwaarden</a>
                            </li>
                        </ul>
                    </li>
                    <li class="favourites">
                        <a class="js-favorites-dynamic" href="javascrip:void()">&nbsp;</a>
                    </li>
                    <li class="account dropdown js-dropdown" id="navbar-logout">
                        <a class="js-dropdown-hover account" href="javascript:void(0);" title="Account">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Account</span>
                        </a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/account_address">Persoonsgegevens</a>
                            </li>
                            <li>
                                <a href="/account_password">Wachtwoord wijzigen</a>
                            </li>
                            <li>
                                <a href="/account_nieuwsbrief">Nieuwsbrief instellingen</a>
                            </li>
                            <li>
                                <a href="/account_orders">Bestellingen</a>
                            </li>
                            <li>
                                <a href="/eigen_collectie">Eigen collectie</a>
                            </li>
                            <li>
                                <a href="/logout">Uitloggen</a>
                            </li>
                        </ul>
                    </li>
                    <li class="login" id="navbar-login">
                        <a href="/login" title="Inloggen">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Inloggen</span>
                        </a>
                    </li>
                    <li class="basket">
                        <a class="basket" href="/basket_n" title="Winkelmandje">
                            <i class="icon icon-basket">&nbsp;</i>
                            <span id="navbar-basket"> </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topbar-basket-mob js-open-topbar-basket-menu-mob">
                <i class="icon icon-basket">&nbsp;</i>
            </div>
            <div class="topbar-basket-menu-mob js-topbar-basket-menu-mob">
                <p class="basket-items-count">&nbsp;</p>
                <ul>
                    <li class="mob-basket">
                        <a href="/basket_n">Winkelmand</a>
                    </li>
                    <li class="mob-account">
                        <a href="/account">Account</a>
                    </li>
                    <li class="mob-collection">
                        <a href="/eigen_collectie">Eigen collectie</a>
                    </li>
                    <li class="mob-contact">
                        <a href="/contact">Contact</a>
                    </li>
                    <li class="mob-login">
                        <a href="/login">Inloggen</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middlebar">
        <div class="container">
            <div class="collapse">
                <a class="logo" href="/" title="Studio Poppekop"><img alt="Studio Poppekop" src="/img/logo.png" /></a>
                <!-- middlebar-menu-left is needed for navbar-style-1 to fill the scroll-menu on mobile -->
                <ul class="middlebar-menu-left js-middlebar-menu-left md-hide-ib lg-hide-ib">
                    <li>
                        <a href="/geboortekaartjes">Alle geboortekaartjes</a>
                    </li>
                    <li>
                        <a href="/trouwkaarten">Trouwkaarten</a>
                    </li>
                    <li>
                        <a href="/verhuiskaarten">Verhuiskaarten</a>
                    </li>
                    <li>
                        <a href="/wenskaarten">Wenskaarten</a>
                    </li>
                    <li>
                        <a href="/zelf-maken">Zelf maken</a>
                    </li>

                </ul>
                <ul class="middlebar-menu-right js-middlebar-menu-right">
                    <li>
                        <a href="/geboortekaartjes">Geboortekaartjes</a>
                    </li>
                    <li>
                        <a href="/trouwkaarten">&nbsp;Trouwkaarten</a>
                    </li>
                    <li class="dropdown js-dropdown">
                        <a class="js-dropdown-hover" href="javascript:void(0);">Meer kaartjes</a>
                        <ul class="dropdown-content js-dropdown-content ">
                            <li>
                                <a href="/wenskaarten">Wenskaarten</a>
                            </li>
                            <li>
                                <a href="/uitnodigingen">Uitnodigingen</a>
                            </li>
                            <li>
                                <a href="/categorieen">Overige kaartjes</a>
                            </li>
                            <li>
                                <a href="https://www.studiopoppekop.nl/c-3850290/ontwerpstudio/" target="_blank">Ontwerp door Studio Poppekop</a>
                            </li>
                            <li>
                                <a href="/zelf-maken">Ontwerp het zelf met de Editor</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown js-dropdown">
                        <a class="js-dropdown-hover" href="javascript:void(0);">Mooi versturen</a>
                        <ul class="transition-ease dropdown-content js-dropdown-content">
                            <li>
                                <a href="https://www.studiopoppekop.nl/c-3443553/mooi-versturen/" target="_blank">Sluitzegels</a>
                            </li>
                            <li>
                                <a href="https://www.studiopoppekop.nl/c-3443553/mooi-versturen/" target="_blank">Wax stempels</a>
                            </li>
                            <li>
                                <a href="https://www.studiopoppekop.nl/c-3443553/mooi-versturen" target="_blank">Confetti</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown js-dropdown">
                        <a class="js-dropdown-hover" href="javascript:void(0);">Extra&#39;s</a>
                        <ul class="transition-ease dropdown-content js-dropdown-content">
                            <li>
                                <a href="https://www.studiopoppekop.nl/c-3246019/posters/" target="_blank">Posters</a>
                            </li>
                            <li>
                                <a href="https://www.studiopoppekop.nl" target="_blank">Muurstickers</a>
                            </li>
                            <li>
                                <a href="https://www.studiopoppekop.nl" target="_blank">Mijlpijlkaarten</a>
                            </li>
                            <li>
                                <a href="https://www.studiopoppekop.nl" target="_blank">Posterhouders</a>
                            </li>
                            <li>
                                <a href="https://www.studiopoppekop.nl" target="_blank">Kaartenhouders</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar-search">
                        <a class="open-navbar-search" href="javascript:void(0)">
                            <i class="icon icon-search">&nbsp;</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="open-navbar-search js-open-navbar-search">
                <i class="icon icon-search">&nbsp;</i>
            </div>
            <div class="navbar-search-field js-navbar-search-field js-middlebar-menu-right">
                <form _lpchecked="1" action="/zoeken" id="headersearch" style="text-align:right;">
                    <meta content="https://shop78.kaart-o-matic.nl/zoeken?qry={qry}" />
                    <button class="search-button-field">
                        <i class="icon icon-search">&nbsp;</i>
                    </button>
                    <div class="search-input-field">
                        <input name="qry" placeholder="Je zoekterm + enter" type="text" />
                    </div>
                </form>
            </div>
            <div class="menu-mob-middlebar-left js-open-middlebar-menu-right-mob">
                <i class="icon icon-hamburger">&nbsp;</i>menu</div>
        </div>
    </div>
</div>