<div id="template-sidebar">
    <div class="visual visual-transparent">
        <div class="container">
            <div class="cols visual-content">
                <div class="md-3">
                    <img class="visual-content__confetti visual-content__confetti-left" src="/img/confetti.png">
                </div>
                <div class="md-6">
                    <div class="cols">
                        <div class="visual-content__title">Liefde delen!</div>
                    </div>
                    <div class="cols visual-content__button-pink__container">
                        <div class="button visual-content__button visual-content__button-pink">bekijk onze nieuwste ontwerpjes</div>
                    </div>
                    <div class="cols">
                        <div class="button visual-content__button visual-content__button-blue">ontwerp het zelf!</div>
                    </div>
                </div>
                <div class="md-3">
                    <img class="visual-content__confetti visual-content__confetti-right" src="/img/confetti.png">
                </div>

            </div>
        </div>
    </div>

    <div class="cols cols-90percent">
        <div class="xs-12 xsm-6 sm-4 md-4">
            <div class="thumbnail thumbnail__full-image"><a href="/geboorte"><img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/top-geboorte.png" /></a> <a class="button thumbnail__button" href="#">geboorte</a></div>
        </div>

        <div class="xs-12 xsm-6 sm-4 md-4">
            <div class="thumbnail thumbnail__full-image"><a href="/trouwen"><img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/top-trouwen.png" /></a> <a class="button thumbnail__button" href="#">trouwen</a></div>
        </div>

        <div class="xs-12 xsm-6 sm-4 md-4">
            <div class="thumbnail thumbnail__full-image"><a href="/meer"><img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/top-meer.png" /></a> <a class="button thumbnail__button" href="#">Meer kaartjes</a></div>
        </div>
    </div>

    <h2 class="text-center text-default header-vertical-space">Geboortekaartjes stijlen</h2>

    <div class="cols home-styles">
        <div class="xs-6 xsm-4 sm-2">
            <div class="thumbnail thumbnail__full-image thumbnail-skyscraper" onclick="location.href = '/illustraties';"><img class="img-responsive img-center" src="/img/style-illustraties.png" />
                <div class="button thumbnail__button">illustraties</div>
            </div>
        </div>

        <div class="xs-6 xsm-4 sm-2">
            <div class="thumbnail thumbnail__full-image thumbnail-skyscraper" onclick="location.href = '/foto';"><img class="img-responsive img-center" src="/img/style-foto.png" />
                <div class="button thumbnail__button">foto</div>
            </div>
        </div>

        <div class="xs-6 xsm-4 sm-2">
            <div class="thumbnail thumbnail__full-image thumbnail-skyscraper" onclick="location.href = '/hipgrafisch';"><img class="img-responsive img-center" src="/img/style-hip-grafisch.png" />
                <div class="button thumbnail__button">hip/grafisch</div>
            </div>
        </div>

        <div class="xs-6 xsm-4 sm-2">
            <div class="thumbnail thumbnail__full-image thumbnail-skyscraper" onclick="location.href = '/typografie';"><img class="img-responsive img-center" src="/img/style-typografie.png" />
                <div class="button thumbnail__button">typografie</div>
            </div>
        </div>

        <div class="xs-6 xsm-4 sm-2">
            <div class="thumbnail thumbnail__full-image thumbnail-skyscraper" onclick="location.href = '/lief';"><img class="img-responsive img-center" src="/img/style-lief.png" />
                <div class="button thumbnail__button">lief</div>
            </div>
        </div>

        <div class="xs-6 xsm-4 sm-2">
            <div class="thumbnail thumbnail__full-image thumbnail-skyscraper" onclick="location.href = '/stoer';"><img class="img-responsive img-center" src="/img/style-stoer.png" />
                <div class="button thumbnail__button">stoer</div>
            </div>
        </div>
    </div>

    <h2 class="text-center text-default header-vertical-space">volg ons</h2>

    <div class="cols home-social">
        <div class="sm-push-3 xs-4 sm-2">
            <div class="thumbnail" onclick="location.href = '#';"><img alt="facebook" class="img-responsive img-center" src="/img/social-face.png" /></div>
        </div>

        <div class="sm-push-3 xs-4 sm-2">
            <div class="thumbnail" onclick="location.href = '#';"><img alt="instagram" class="img-responsive img-center" src="/img/social-in.png" /></div>
        </div>

        <div class="sm-push-3 xs-4 sm-2">
            <div class="thumbnail" onclick="location.href = '#';"><img alt="pinterest" class="img-responsive img-center" src="/img/social-pin.png" /></div>
        </div>
    </div>

    <div class="cols home-notes cols-90percent">
        <div class="xs-12 xsm-6 sm-3 md-3">
            <div class="thumbnail thumbnail-background thumbnail-background--grey">
                <p>Ontwerp<br />
                    door<br />
                    <span style="font-size: 0.7em;">studio poppekop</span></p>
                </div>
            </div>

            <div class="xs-12 xsm-6 sm-3 md-3">
                <div class="thumbnail thumbnail-background thumbnail-background--grey">
                    <p><span style="font-size: 0.9em;">extra mooi versturen</span></p>
                </div>
            </div>

            <div class="xs-12 xsm-6 sm-3 md-3">
                <div class="thumbnail thumbnail-background thumbnail-background--grey">
                    <p><span style="font-size: 0.8em;">posters<br />
                        &amp;<br />
                        decoraties</span></p>
                    </div>
                </div>

                <div class="xs-12 xsm-6 sm-3 md-3">
                    <div class="thumbnail thumbnail-background thumbnail-background--grey">
                        <p><span style="font-size: 1.1em;">tips<br />
                            &amp;<br />
                            trends</span></p>
                        </div>
                    </div>
                </div>

                <h2 class="text-center text-default">klantenservice</h2>

                <p class="text-center">Voor vragen neem contact op met <a href="mailto:info@studiopoppekop.nl">info@studiopoppekop.nl</a></p>
            </div>
