<div id="template-sidebar">
    <div class="visual visual-transparent">
        <div class="cols visual-content">
            <div class="xs-hide xsm-hide sm-hide md-3"><img class="visual-content__confetti visual-content__confetti-left" src="/img/confetti.png" /></div>
            <div class="md-6">
                <div class="visual-content__title">Hallo - welkom!</div>
                <a href="/zelf-maken" class="button visual-content__button visual-content__button-blue">bekijk onze nieuwste ontwerpjes</a>
                <a href="/zelf-maken" class="button visual-content__button visual-content__button-blue">ontwerp het zelf!</a>
                <p>De complete kaartcollectie van Studio Poppekopkop vind je hier. Uniek, stijlvol en helemaal volgens de laatste trends!</p>
            </div>
            <div class="xs-hide xsm-hide sm-hide md-3"><img class="visual-content__confetti visual-content__confetti-right" src="/img/confetti.png" /></div>
        </div>
    </div>
    <div class="cols cols-90percent home-big-thumbnails">
        <div class="xs-12 xsm-6 sm-4 md-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/geboorte';">
                <img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/top-geboorte.png">
                <div class="thumbnail-footer text-center">
                    <h3 >geboorte</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-4 md-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/trouwen';">
                <img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/top-trouwen.png">
                <div class="thumbnail-footer text-center">
                    <h3 >trouwen</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-4 md-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/meer';">
                <img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/top-meer.png">
                <div class="thumbnail-footer text-center">
                    <h3>Meer kaartjes</h3>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center text-default header-vertical-space">Geboortekaartjes stijlen</h2>
    <div class="cols home-styles">
        <div class="xs-6 xsm-4 sm-2">
            <div class="thumbnail " onclick="location.href = '/illustraties';">
                <img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/style-illustraties.png">
                <div class="thumbnail-footer text-center">
                    <h3 >illustraties</h3>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-4 sm-2">
            <div class="thumbnail " onclick="location.href = '/foto';">
                <img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/style-foto.png">
                <div class="thumbnail-footer text-center">
                    <h3 >foto</h3>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-4 sm-2">
            <div class="thumbnail " onclick="location.href = '/hipgrafisch';">
                <img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/style-hip-grafisch.png">
                <div class="thumbnail-footer text-center">
                    <h3 >hip/grafisch</h3>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-4 sm-2">
            <div class="thumbnail " onclick="location.href = '/typografie';">
                <img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/style-typografie.png">
                <div class="thumbnail-footer text-center">
                    <h3 >typografie</h3>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-4 sm-2">
            <div class="thumbnail" onclick="location.href = '/lief';">
                <img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/style-lief.png">
                <div class="thumbnail-footer text-center">
                    <h3 >lief</h3>
                </div>
            </div>
        </div>

        <div class="xs-6 xsm-4 sm-2">
            <div class="thumbnail " onclick="location.href = '/stoer';">
                <img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/style-stoer.png">
                <div class="thumbnail-footer text-center">
                    <h3 >stoer</h3>
                </div>
            </div>
        </div>

    </div>
    <h2 class="text-center text-default header-vertical-space">volg ons</h2>
    <div class="cols home-social">
        <div class="sm-12">
            <div class="thumbnail" onclick="location.href = '#';"><img alt="facebook" class="img-responsive img-center" src="/img/social-face.png" /></div>
            <div class="thumbnail" onclick="location.href = '#';"><img alt="instagram" class="img-responsive img-center" src="/img/social-in.png" /></div>
            <div class="thumbnail" onclick="location.href = '#';"><img alt="pinterest" class="img-responsive img-center" src="/img/social-pin.png" /></div>
        </div>
    </div>
    <div class="cols home-notes cols-90percent">
        <div class="xs-12 xsm-6 sm-3 md-3">
            <div class="thumbnail thumbnail-background thumbnail-background--grey">
                <p>Ontwerp
                    <br /> door
                    <br />
                    <span style="font-size: 0.7em;">studio poppekop</span></p>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3">
            <div class="thumbnail thumbnail-background thumbnail-background--grey">
                <p><span style="font-size: 0.9em;">extra mooi versturen</span></p>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3">
            <div class="thumbnail thumbnail-background thumbnail-background--grey">
                <p><span style="font-size: 0.8em;">posters<br />
&amp;<br />
decoraties</span></p>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3">
            <div class="thumbnail thumbnail-background thumbnail-background--grey">
                <p><span style="font-size: 1.1em;">tips<br />
&amp;<br />
trends</span></p>
            </div>
        </div>
    </div>
    <h2 class="text-center text-default">klantenservice</h2>
    <p class="text-center">Voor vragen neem contact op met <a href="mailto:info@studiopoppekop.nl">info@studiopoppekop.nl</a></p>
</div>