<p>In onderstaand overzicht staan de prijzen van het drukwerk op basis van afmeting, enkel/dubbel en aantal.&nbsp;Alle kaarten zijn zowel enkel als dubbel (gevouwen) te verkrijgen, m.u.v. de 8 x 8 cm die alleen als enkele kaart te bestellen is.&nbsp;</p>
<h3>Prijscalculator</h3>
<p>Met hulp van de
    <a class="openPrijsCalculator" href="javascript:void(0);" main-cat="strand">prijscalculator</a>&nbsp;ziet u in een oogopslag wat de kosten zullen worden bij het formaat en aantal kaarten en enveloppen wat u wilt bestellen.&nbsp;Is het prijsoverzicht u niet helemaal duidelijk, <u>belt u ons dan via 010 1234567</u> (tijdens kantooruren - ..:.. en ..:...</p>
<h3>Alle formaten mogelijk</h3>
<p>Liggend of staand in drie maten: 10 x 15 cm - 11 x 17 cm* - 22x10 - 14,4 x 21,6*&nbsp;cm
    <br /> Vierkant in vier maten: 11 x 11 cm - 13 x 13 cm* - 15 x 15* cm</p>
<p>&nbsp;</p>
<h3>Dubbele&nbsp;kaarten</h3>
<div class="table-responsive">
    <table align="left" border="2" cellpadding="1" cellspacing="1" class="table">
        <tbody>
            <tr style="background-color: #6c7075; color: #fff">
                <td>&nbsp;</td>
                <td style="text-align: center;">
                    <span style="color:# 676C45;">11x11 &bull; 10 x 15 cm</span>
                </td>
                <td style="text-align: center;">
                    <span style="color:# 676C45;">13x13 &bull; 11,4 x 17,1</span>
                </td>
                <td style="text-align: center;">
                    <span style="color:# 676C45;">15x15 &bull; 14,6x21,6 cm</span>
                </td>
            </tr>
            <tr>
                <td>1 ex.</td>
                <td style="text-align: center;">&euro; 2,50</td>
                <td style="text-align: center;">&euro; 2,75</td>
                <td style="text-align: center;">&euro; 3,00</td>
            </tr>
            <tr>
                <td>2 - 9 ex.</td>
                <td style="text-align: center;">&euro; 2,35</td>
                <td style="text-align: center;">&euro; 2,55</td>
                <td style="text-align: center;">&euro; 2,75</td>
            </tr>
            <tr>
                <td>10 - 49 ex.</td>
                <td style="text-align: center;">&euro; 2,20</td>
                <td style="text-align: center;">&euro; 2,35</td>
                <td style="text-align: center;">&euro; 2,55</td>
            </tr>
            <tr>
                <td>50 - 99 ex.</td>
                <td style="text-align: center;">&euro; 2,10</td>
                <td style="text-align: center;">&euro; 2,30</td>
                <td style="text-align: center;">&euro; 2,45</td>
            </tr>
            <tr>
                <td>100 - 199 ex.</td>
                <td style="text-align: center;">&euro; 2,00</td>
                <td style="text-align: center;">&euro; 2,20</td>
                <td style="text-align: center;">&euro; 2,35</td>
            </tr>
            <tr>
                <td>Vanaf 200 ex.</td>
                <td style="text-align: center;">&euro; 1,80</td>
                <td style="text-align: center;">&euro; 2,00</td>
                <td style="text-align: center;">&euro; 2,10</td>
            </tr>
            <tr>
                <td>Luxe papiersoorten</td>
                <td style="text-align: center;">&euro; 0,25</td>
                <td style="text-align: center;">&euro; 0,25</td>
                <td style="text-align: center;">&euro; 0,25</td>
            </tr>
            <tr>
                <td>Enveloppen</td>
                <td style="text-align: center;">&euro; 0,25</td>
                <td style="text-align: center;">&euro; 0,25</td>
                <td style="text-align: center;">&euro; 0,25</td>
            </tr>
            <tr>
                <td>Envelop zilver - goud of parelmoer</td>
                <td style="text-align: center;">&euro; 0,35</td>
                <td style="text-align: center;">&euro; 0,35</td>
                <td style="text-align: center;">&euro; 0,35</td>
            </tr>
        </tbody>
    </table>
</div>
<h3>
    <br /> Enkele kaarten</h3>
<div class="table-responsive">
    <table align="left" border="2" cellpadding="1" cellspacing="1" class="table">
        <tbody>
            <tr style="background-color: #6c7075; color: #fff">
                <td>&nbsp;</td>
                <td style="text-align: center;">
                    <span style="color:# 676C45;">
                        <span style="text-align: center;">8x8 cm</span>
                    </span>
                </td>
                <td style="text-align: center;">
                    <span style="color:# 676C45;">11x11 &bull; 10x15 cm</span>
                </td>
                <td style="text-align: center;">
                    <span style="color:# 676C45;">13x13 &bull; 11,4 x 17,1 cm</span>
                </td>
                <td style="text-align: center;">
                    <span style="color:# 676C45;">
                        <span style="text-align: center;">15x15 &bull; 14,6 x 21,6 cm</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td>1 ex.</td>
                <td style="text-align: center;">&euro; 1,80</td>
                <td style="text-align: center;">&euro; 2,00</td>
                <td style="text-align: center;">&euro; 2,20</td>
                <td style="text-align: center;">&euro; 2,40</td>
            </tr>
            <tr>
                <td>2 - 9 ex.</td>
                <td style="text-align: center;">&euro; 1,60</td>
                <td style="text-align: center;">&euro; 1,80</td>
                <td style="text-align: center;">&euro; 2,00</td>
                <td style="text-align: center;">&euro; 2,20</td>
            </tr>
            <tr>
                <td>10 -49 ex.</td>
                <td style="text-align: center;">&euro; 1,40</td>
                <td style="text-align: center;">&euro; 1,60</td>
                <td style="text-align: center;">&euro; 1,80</td>
                <td style="text-align: center;">&euro; 2,00</td>
            </tr>
            <tr>
                <td>50 - 99 ex.</td>
                <td style="text-align: center;">&euro; 1,20</td>
                <td style="text-align: center;">&euro; 1,40</td>
                <td style="text-align: center;">&euro; 1,60</td>
                <td style="text-align: center;">&euro; 1,80</td>
            </tr>
            <tr>
                <td>100 - 199 ex.</td>
                <td style="text-align: center;">&euro; 1,00</td>
                <td style="text-align: center;">&euro; 1,20</td>
                <td style="text-align: center;">&euro; 1,40</td>
                <td style="text-align: center;">&euro; 1,60</td>
            </tr>
            <tr>
                <td>Vanaf 200 ex.</td>
                <td style="text-align: center;">&euro; 0,90</td>
                <td style="text-align: center;">&euro; 1,00</td>
                <td style="text-align: center;">&euro; 1,20</td>
                <td style="text-align: center;">&euro; 1,40</td>
            </tr>
            <tr>
                <td>Luxe papiersoorten</td>
                <td style="text-align: center;">&euro; 0,15</td>
                <td style="text-align: center;">&euro; 0,15</td>
                <td style="text-align: center;">&euro; 0,15</td>
                <td style="text-align: center;">&euro; 0,15</td>
            </tr>
            <tr>
                <td>Enveloppen</td>
                <td style="text-align: center;">&euro; 0,25</td>
                <td style="text-align: center;">&euro; 0,25</td>
                <td style="text-align: center;">&euro; 0,25</td>
                <td style="text-align: center;">&euro; 0,25</td>
            </tr>
            <tr>
                <td>Envelop zilver &bull; goud of parelmoer</td>
                <td style="text-align: center;">&euro; 0,35</td>
                <td style="text-align: center;">&euro; 0,35</td>
                <td style="text-align: center;">&euro; 0,35</td>
                <td style="text-align: center;">&euro; 0,35</td>
            </tr>
        </tbody>
    </table>
</div>
<p>&nbsp;</p>
<h3>Papiersoorten</h3>
<ul>
    <li>Natuurkarton | mooi stevig wit papier (340 grams)</li>
    <li>Silk MC | wit, iets gladder papier (350 grams)</li>
    <li>Parelmoer | mooi papier met een parelmoer glittering (300 grams) **&nbsp;</li>
    <li>Oud Hollands | offwhite papier met structuur (300 grams) **</li>
    <li>Fotokaart | aan de buitenzijde van de kaart een hoogglans laag (laminaat) en een matte binnenzijde (330 grams)
        <br />
        <br /> ** voor deze papiersoorten geldt een toeslag van&nbsp;&euro; 0,25 per dubbele kaart en &euro; 0,15 per enkele kaart.</li>
</ul>
<h3>Proefdruk</h3>
<p>U kunt voor &euro; 1,- een proefdruk van uw ontwerp aanvragen op de papiersoort van uw keuze. Bij uw proefdruk ontvangt u bovendien samples van de 18 envelopkleuren en vijf samples van de mogelijke papiersoorten.</p>
<h3>Enveloppen | Gekleurd</h3>
<p>Gekleurde enveloppen kosten &euro; 0,25
    <font face="tahoma, geneva, sans-serif">p</font>er stuk en zijn leverbaar in 18 kleuren. U kunt uw keuze aangeven na het ontwerpen van de kaart.</p>
<h3>Enveloppen vooraf bestellen?</h3>
<p>Wilt u de enveloppen&nbsp;
    <a class="button-square" href="/enveloppen-info">vooraf bestellen</a>&nbsp;of wilt u een speciale envelop of een kleur die er niet bijstaat, neemt u dan gerust&nbsp;
    <a href="/contact">contact&nbsp;</a>met ons op.&nbsp;</p>
