<div id="template-fluid">&nbsp;</div>
<div class="banner-background">
    <div class="cols">
        <div class="md-offset-2 md-8 text-center">
            <h2 class="text-center">Zelf je kaartje ontwerpen!</h2>
            <p>
                <span style="font-size: 13px;">Kies hieronder een blanco kaartje en ga in onze Editor zelf als ontwerper aan de slag met het maken van jouw droomkaartje!</span>
                <br /> &nbsp;
            </p>
        </div>
    </div>
</div>
<div class="cols cols-multi">
    <div class="xs-12 xsm-6 sm-6 md-4 lg-4">
        <div class="card-block" onclick="location.href = '/choose_card/blanco-dubbel-vierkant';">
            <h5 class="card-block-title">Vierkant dubbel</h5>
            <a href="/choose_card/blanco-dubbel-vierkant"><img alt="Blanco dubbel vierkant" class="img-responsive img-center" src="/media/vierkantdubbel.png" /></a>
            <span class="card-block-footer"> Beschikbare formaten
                <br /> 15x15 13x13 of 11x11 </span>
        </div>
    </div>
    <div class="xs-12 xsm-6 sm-6 md-4 lg-4">
        <div class="card-block" onclick="location.href = '/choose_card/blanco-enkel-vierkant';">
            <h2 class="card-block-title">Vierkant enkel</h2>
            <a href="/choose_card/blanco-enkel-vierkant"><img alt="Blanco enkel vierkant" class="img-responsive img-center" src="/media/vierkantenkel.png" /></a>
            <span class="card-block-footer"> Beschikbare formaten
                <br /> 15x15 13x13 of 11x11 </span>
        </div>
    </div>
    <div class="xs-12 xsm-6 sm-6 md-4 lg-4">
        <div class="card-block" onclick="location.href = '/choose_card/blanco-dubbel-staand';">
            <h2 class="card-block-title">Staand dubbel</h2>
            <a href="/choose_card/blanco-dubbel-staand"><img alt="Blanco dubbel staand" class="img-responsive img-center" src="/media/staanddubbel.png" /></a>
            <span class="card-block-footer"> Beschikbare formaten
                <br /> 14x21 11x17 of 10x15 </span>
        </div>
    </div>
    <div class="xs-12 xsm-6 sm-6 md-4 lg-4">
        <div class="card-block" onclick="location.href = '/choose_card/blanco-enkel-staand';">
            <h2 class="card-block-title">Staand enkel</h2>
            <a href="/choose_card/blanco-enkel-staand"><img alt="Blanco enkel staand" class="img-responsive img-center" src="/media/staandenkel.png" /></a>
            <span class="card-block-footer"> Beschikbare formaten
                <br /> 14x21 11x17 of 10x15 </span>
        </div>
    </div>
    <div class="xs-12 xsm-6 sm-6 md-4 lg-4">
        <div class="card-block" onclick="location.href = '/choose_card/blanco-dubbel-liggend';">
            <h2 class="card-block-title">Liggend dubbel</h2>
            <a href="/choose_card/blanco-dubbel-liggend"><img alt="Blanco dubbel liggend " class="img-responsive img-center" src="/media/liggenddubbel.png" /></a>
            <span class="card-block-footer"> Beschikbare formaten
                <br /> 21x14 17x11 of 15x10 </span>
        </div>
    </div>
    <div class="xs-12 xsm-6 sm-6 md-4 lg-4">
        <div class="card-block" onclick="location.href = '/choose_card/blanco-enkel-liggend';">
            <h2 class="card-block-title">Liggend enkel</h2>
            <a href="/choose_card/blanco-enkel-liggend"><img alt="Blanco enkel liggend" class="img-responsive img-center" src="/media/liggendenkel.png" /></a>
            <span class="card-block-footer"> Beschikbare formaten
                <br /> 21x14 17x11 of 15x10 </span>
        </div>
    </div>
    <div class="md-offset-2 xs-12 xsm-6 sm-6 md-4 lg-4">
        <div class="card-block" onclick="location.href = '/choose_card/blanco-enkel-langwerpig';">
            <h2 class="card-block-title">Langwerpig enkel</h2>
            <a href="/choose_card/blanco-enkel-langwerpig"><img alt="Blanco enkel langwerpig" class="img-responsive img-center" src="/media/panoramastaand.png" /></a>
            <span class="card-block-footer"> Beschikbare formaten
                <br /> 10x21
            </span>
        </div>
    </div>
    <div class="md-offset-0 xs-12 xsm-6 sm-6 md-4 lg-4">
        <div class="card-block" onclick="location.href = '/choose_card/blanco-enkel-panorama';">
            <h2 class="card-block-title">Panorama enkel</h2>
            <a href="/choose_card/blanco-enkel-panorama"><img alt="Panorama enkele kaart" class="img-responsive img-center" src="/media/panoramaliggend.png" style="width: 172px; height: 64px; margin: 52px auto;" /></a>
            <span class="card-block-footer"> Beschikbare formaten
                <br /> 21x10
            </span>
        </div>
    </div>
</div>
<div class="cols tips-links">
    <div class="md-6">
        <a class="text-center button button-lg" href="">10 tips
            <br /> voor het opmaken
            <br /> van je kaart</a>
    </div>
    <div class="md-6">
        <a class="text-center button button-lg" href="">10 tips
            <br /> voor het verzenden</a>
    </div>
</div>
<div class="cols tips-text">
    <div class="md-4">
        <h3>Zelf je geboortekaartjes ontwerpen</h3>
        <p>Wil je je eigen geboortekaartje ontwerpen? Superleuk! Maak een uniek geboortekaartje, precies zoals je wilt! Je kunt hier je eigen ontwerp uploaden, of je kunt aan de slag met de editor. Op die manier kun je je eigen elementjes toevoegen aan de kaart en zo een uniek kaartje cre&euml;ren. Maak zelf je geboortekaartje met een eigengekozen kleur en lettertype(s). En weet je wat handig is: hier kun je vooraf je enveloppen bestellen. Zo kun je rustig de tijd nemen om ze te schrijven.</p>
    </div>
    <div class="md-4">
        <h3>Ontwerp op maat door studio poppekop</h3>
        <p>HuVoeg je eigen foto toe, en maak het geboortekaartje nog mooier door versiering toe te voegen. Wat dacht je van leuke hartjes, pijltjes of diertjes. Je kunt bijvoorbeeld kiezen uit schattige uiltjes of vrolijke vogeltjes. Ook hebben we heel veel verschillende bomen en takken ontworpen: ideaal als basis voor je originele geboortekaartje. En heb je hulp nodig? Neem dan gerust contact met ons op, dan helpen we je!</p>
    </div>
    <div class="md-4">
        <h3>Proefkaartje bestellen</h3>
        <p>Wil je je geboortekaartje af laten drukken? Dat kan hier! Upload je ontwerp en druk het kaartje af. Wil je een dubbel geboortekaartje, of liever een enkel kaartje (dus eentje met alleen een voor- of achterkant?) Je kunt zelfs voor een staand geboortekaartje gaan. Laat het drukken en ontvang je geboortekaartjes de volgende dag in huis, mits je voor 18.00 hebt besteld.</p>
    </div>
</div>