* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cols {
  margin-right: -15px;
  margin-left: -15px;
}
.cols:after {
  clear: both;
}
.lg-1,
.lg-10,
.lg-11,
.lg-12,
.lg-2,
.lg-3,
.lg-4,
.lg-5,
.lg-6,
.lg-7,
.lg-8,
.lg-9,
.lg-15,
.xs-1,
.xs-10,
.xs-11,
.xs-12,
.xs-2,
.xs-3,
.xs-4,
.xs-5,
.xs-6,
.xs-7,
.xs-8,
.xs-9,
.xs-15,
.xsm-1,
.xsm-10,
.xsm-11,
.xsm-12,
.xsm-2,
.xsm-3,
.xsm-4,
.xsm-5,
.xsm-6,
.xsm-7,
.xsm-8,
.xsm-9,
.xsm-15,
.sm-1,
.sm-10,
.sm-11,
.sm-12,
.sm-2,
.sm-3,
.sm-4,
.sm-5,
.sm-6,
.sm-7,
.sm-8,
.sm-9,
.sm-15,
.md-1,
.md-10,
.md-11,
.md-12,
.md-2,
.md-3,
.md-4,
.md-5,
.md-6,
.md-7,
.md-8,
.md-9,
.md-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
/* clear the first in row for any block that has the class "cols-multi" */
.cols-multi .xs-6:nth-child(2n + 3) {
  clear: left;
}
.cols-multi .xs-4:nth-child(3n + 4) {
  clear: left;
}
.cols-multi .xs-3:nth-child(4n + 5) {
  clear: left;
}
.cols-multi .xs-2:nth-child(6n + 7) {
  clear: left;
}
.cols-multi .xs-1:nth-child(12n + 13) {
  clear: left;
}
@media only screen and (min-width: 0px) {
  .xs-1,
  .xs-10,
  .xs-11,
  .xs-12,
  .xs-2,
  .xs-3,
  .xs-4,
  .xs-5,
  .xs-6,
  .xs-7,
  .xs-8,
  .xs-9,
  .xs-15 {
    float: left;
  }
  .xs-offset-0 {
    margin-left: 0;
  }
  .xs-offset-1 {
    margin-left: 8.33333333%;
  }
  .xs-offset-2 {
    margin-left: 16.66666667%;
  }
  .xs-offset-3 {
    margin-left: 25%;
  }
  .xs-offset-4 {
    margin-left: 33.33333333%;
  }
  .xs-offset-5 {
    margin-left: 41.66666667%;
  }
  .xs-offset-6 {
    margin-left: 50%;
  }
  .xs-offset-7 {
    margin-left: 58.33333333%;
  }
  .xs-offset-8 {
    margin-left: 66.66666667%;
  }
  .xs-offset-9 {
    margin-left: 75%;
  }
  .xs-offset-10 {
    margin-left: 83.33333333%;
  }
  .xs-offset-11 {
    margin-left: 91.66666667%;
  }
  .xs-offset-12 {
    margin-left: 100%;
  }
  .xs-offset-15 {
    margin-left: 20%;
  }
  .xs-1 {
    width: 8.33333333%;
  }
  .xs-2 {
    width: 16.66666667%;
  }
  .xs-3 {
    width: 25%;
  }
  .xs-4 {
    width: 33.33333333%;
  }
  .xs-5 {
    width: 41.66666667%;
  }
  .xs-6 {
    width: 50%;
  }
  .xs-7 {
    width: 58.33333333%;
  }
  .xs-8 {
    width: 66.66666667%;
  }
  .xs-9 {
    width: 75%;
  }
  .xs-10 {
    width: 83.33333333%;
  }
  .xs-11 {
    width: 91.66666667%;
  }
  .xs-12 {
    width: 100%;
  }
  .xs-15 {
    width: 20%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .xsm-1,
  .xsm-10,
  .xsm-11,
  .xsm-12,
  .xsm-2,
  .xsm-3,
  .xsm-4,
  .xsm-5,
  .xsm-6,
  .xsm-7,
  .xsm-8,
  .xsm-9,
  .xsm-15 {
    float: left;
  }
  .xsm-offset-0 {
    margin-left: 0;
  }
  .xsm-offset-1 {
    margin-left: 8.33333333%;
  }
  .xsm-offset-2 {
    margin-left: 16.66666667%;
  }
  .xsm-offset-3 {
    margin-left: 25%;
  }
  .xsm-offset-4 {
    margin-left: 33.33333333%;
  }
  .xsm-offset-5 {
    margin-left: 41.66666667%;
  }
  .xsm-offset-6 {
    margin-left: 50%;
  }
  .xsm-offset-7 {
    margin-left: 58.33333333%;
  }
  .xsm-offset-8 {
    margin-left: 66.66666667%;
  }
  .xsm-offset-9 {
    margin-left: 75%;
  }
  .xsm-offset-10 {
    margin-left: 83.33333333%;
  }
  .xsm-offset-11 {
    margin-left: 91.66666667%;
  }
  .xsm-offset-12 {
    margin-left: 100%;
  }
  .xsm-offset-15 {
    margin-left: 20%;
  }
  .xsm-1 {
    width: 8.33333333%;
  }
  .xsm-2 {
    width: 16.66666667%;
  }
  .xsm-3 {
    width: 25%;
  }
  .xsm-4 {
    width: 33.33333333%;
  }
  .xsm-5 {
    width: 41.66666667%;
  }
  .xsm-6 {
    width: 50%;
  }
  .xsm-7 {
    width: 58.33333333%;
  }
  .xsm-8 {
    width: 66.66666667%;
  }
  .xsm-9 {
    width: 75%;
  }
  .xsm-10 {
    width: 83.33333333%;
  }
  .xsm-11 {
    width: 91.66666667%;
  }
  .xsm-12 {
    width: 100%;
  }
  .xsm-15 {
    width: 20%;
  }
  /* reset previous grid */
  .cols-multi .xs-6:nth-child(2n + 3) {
    clear: none;
  }
  .cols-multi .xs-4:nth-child(3n + 4) {
    clear: none;
  }
  .cols-multi .xs-3:nth-child(4n + 5) {
    clear: none;
  }
  .cols-multi .xs-2:nth-child(6n + 7) {
    clear: none;
  }
  .cols-multi .xs-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for small columns */
  .cols-multi .xsm-6:nth-child(2n + 3) {
    clear: left;
  }
  .cols-multi .xsm-4:nth-child(3n + 4) {
    clear: left;
  }
  .cols-multi .xsm-3:nth-child(4n + 5) {
    clear: left;
  }
  .cols-multi .xsm-2:nth-child(6n + 7) {
    clear: left;
  }
  .cols-multi .xsm-1:nth-child(12n + 13) {
    clear: left;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .sm-1,
  .sm-10,
  .sm-11,
  .sm-12,
  .sm-2,
  .sm-3,
  .sm-4,
  .sm-5,
  .sm-6,
  .sm-7,
  .sm-8,
  .sm-9,
  .sm-15 {
    float: left;
  }
  .cols .sm-6:nth-child(2n + 3) {
    clear: both;
  }
  .sm-offset-0 {
    margin-left: 0;
  }
  .sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .sm-offset-3 {
    margin-left: 25%;
  }
  .sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .sm-offset-6 {
    margin-left: 50%;
  }
  .sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .sm-offset-9 {
    margin-left: 75%;
  }
  .sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .sm-offset-12 {
    margin-left: 100%;
  }
  .sm-offset-15 {
    margin-left: 20%;
  }
  .sm-1 {
    width: 8.33333333%;
  }
  .sm-2 {
    width: 16.66666667%;
  }
  .sm-3 {
    width: 25%;
  }
  .sm-4 {
    width: 33.33333333%;
  }
  .sm-5 {
    width: 41.66666667%;
  }
  .sm-6 {
    width: 50%;
  }
  .sm-7 {
    width: 58.33333333%;
  }
  .sm-8 {
    width: 66.66666667%;
  }
  .sm-9 {
    width: 75%;
  }
  .sm-10 {
    width: 83.33333333%;
  }
  .sm-11 {
    width: 91.66666667%;
  }
  .sm-12 {
    width: 100%;
  }
  .sm-15 {
    width: 20%;
  }
  /* reset previous grid */
  .cols-multi .xsm-6:nth-child(2n + 3) {
    clear: none;
  }
  .cols-multi .xsm-4:nth-child(3n + 4) {
    clear: none;
  }
  .cols-multi .xsm-3:nth-child(4n + 5) {
    clear: none;
  }
  .cols-multi .xsm-2:nth-child(6n + 7) {
    clear: none;
  }
  .cols-multi .xsm-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for small columns */
  .cols-multi .sm-6:nth-child(2n + 3) {
    clear: left;
  }
  .cols-multi .sm-4:nth-child(3n + 4) {
    clear: left;
  }
  .cols-multi .sm-3:nth-child(4n + 5) {
    clear: left;
  }
  .cols-multi .sm-2:nth-child(6n + 7) {
    clear: left;
  }
  .cols-multi .sm-1:nth-child(12n + 13) {
    clear: left;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .md-1,
  .md-10,
  .md-11,
  .md-12,
  .md-2,
  .md-3,
  .md-4,
  .md-5,
  .md-6,
  .md-7,
  .md-8,
  .md-9,
  .md-15 {
    float: left;
  }
  .md-offset-0 {
    margin-left: 0;
  }
  .md-offset-1 {
    margin-left: 8.33333333%;
  }
  .md-offset-2 {
    margin-left: 16.66666667%;
  }
  .md-offset-3 {
    margin-left: 25%;
  }
  .md-offset-4 {
    margin-left: 33.33333333%;
  }
  .md-offset-5 {
    margin-left: 41.66666667%;
  }
  .md-offset-6 {
    margin-left: 50%;
  }
  .md-offset-7 {
    margin-left: 58.33333333%;
  }
  .md-offset-8 {
    margin-left: 66.66666667%;
  }
  .md-offset-9 {
    margin-left: 75%;
  }
  .md-offset-10 {
    margin-left: 83.33333333%;
  }
  .md-offset-11 {
    margin-left: 91.66666667%;
  }
  .md-offset-12 {
    margin-left: 100%;
  }
  .md-offset-15 {
    margin-left: 20%;
  }
  .md-1 {
    width: 8.33333333%;
  }
  .md-2 {
    width: 16.66666667%;
  }
  .md-3 {
    width: 25%;
  }
  .md-4 {
    width: 33.33333333%;
  }
  .md-5 {
    width: 41.66666667%;
  }
  .md-6 {
    width: 50%;
  }
  .md-7 {
    width: 58.33333333%;
  }
  .md-8 {
    width: 66.66666667%;
  }
  .md-9 {
    width: 75%;
  }
  .md-10 {
    width: 83.33333333%;
  }
  .md-11 {
    width: 91.66666667%;
  }
  .md-12 {
    width: 100%;
  }
  .md-15 {
    width: 20%;
  }
  /* reset previous grid */
  .cols-multi .sm-6:nth-child(2n + 3) {
    clear: none;
  }
  .cols-multi .sm-4:nth-child(3n + 4) {
    clear: none;
  }
  .cols-multi .sm-3:nth-child(4n + 5) {
    clear: none;
  }
  .cols-multi .sm-2:nth-child(6n + 7) {
    clear: none;
  }
  .cols-multi .sm-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for medium columns */
  .cols-multi .md-6:nth-child(2n + 3) {
    clear: left;
  }
  .cols-multi .md-4:nth-child(3n + 4) {
    clear: left;
  }
  .cols-multi .md-3:nth-child(4n + 5) {
    clear: left;
  }
  .cols-multi .md-2:nth-child(6n + 7) {
    clear: left;
  }
  .cols-multi .md-1:nth-child(12n + 13) {
    clear: left;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .lg-1,
  .lg-10,
  .lg-11,
  .lg-12,
  .lg-2,
  .lg-3,
  .lg-4,
  .lg-5,
  .lg-6,
  .lg-7,
  .lg-8,
  .lg-9,
  .lg-15 {
    float: left;
  }
  .lg-offset-0 {
    margin-left: 0;
  }
  .lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .lg-offset-3 {
    margin-left: 25%;
  }
  .lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .lg-offset-6 {
    margin-left: 50%;
  }
  .lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .lg-offset-9 {
    margin-left: 75%;
  }
  .lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .lg-offset-12 {
    margin-left: 100%;
  }
  .lg-offset-15 {
    margin-left: 20%;
  }
  .lg-1 {
    width: 8.33333333%;
  }
  .lg-2 {
    width: 16.66666667%;
  }
  .lg-3 {
    width: 25%;
  }
  .lg-4 {
    width: 33.33333333%;
  }
  .lg-5 {
    width: 41.66666667%;
  }
  .lg-6 {
    width: 50%;
  }
  .lg-7 {
    width: 58.33333333%;
  }
  .lg-8 {
    width: 66.66666667%;
  }
  .lg-9 {
    width: 75%;
  }
  .lg-10 {
    width: 83.33333333%;
  }
  .lg-11 {
    width: 91.66666667%;
  }
  .lg-12 {
    width: 100%;
  }
  .lg-15 {
    width: 20%;
  }
  /* reset previous grid */
  .cols-multi .md-6:nth-child(2n + 3) {
    clear: none;
  }
  .cols-multi .md-4:nth-child(3n + 4) {
    clear: none;
  }
  .cols-multi .md-3:nth-child(4n + 5) {
    clear: none;
  }
  .cols-multi .md-2:nth-child(6n + 7) {
    clear: none;
  }
  .cols-multi .md-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for large columns */
  .cols-multi .lg-6:nth-child(2n + 3) {
    clear: left;
  }
  .cols-multi .lg-4:nth-child(3n + 4) {
    clear: left;
  }
  .cols-multi .lg-3:nth-child(4n + 5) {
    clear: left;
  }
  .cols-multi .lg-2:nth-child(6n + 7) {
    clear: left;
  }
  .cols-multi .lg-1:nth-child(12n + 13) {
    clear: left;
  }
}
