.navbar {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
}

.navbar .container {
    overflow: visible;
}

.navbar .collapse {
    background: #FFECDB;
}

.navbar .navbar-hamburger {
    position: relative;
    display: block;
    cursor: pointer;
    float: left;
    height: 50px;
    padding: 9px 15px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-color: transparent;
    z-index: 5;
}

.navbar .navbar-hamburger .icon-bar {
    display: block;
    margin-top: 4px;
    width: 28px;
    height: 5px;
    border-radius: 1px;
    background-color: #64686D;
}

.navbar .topbar {
    position: relative;
    z-index: 9999;
    padding: 0px;
}

.navbar .topbar .topbar-menu-left {
    position: absolute;
    display: none;
}

.navbar .topbar .topbar-menu-left li {
    padding: 0 5px;
    margin: 10px 0;
}

.navbar .topbar .topbar-menu-left a {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 0px 5px;
    margin: 10px 0px 10px 0px;
    font-size: 12px;
    height: 100%;
    color: #ecbd91;
}

.navbar .topbar .topbar-menu-left a:hover {
    color: #ffdebd;
}

.navbar .topbar .topbar-menu-left a:active {
    color: #ffdebd;
}

.navbar .topbar .topbar-menu-left a:focus {
    color: #ffdebd;
}

.navbar .topbar .topbar-menu-right {
    position: absolute;
    padding-right: 10px;
    height: 100%;
    top: 0;
    right: 0;
}

.navbar .topbar .topbar-menu-right > ul > li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
}

.navbar .topbar .topbar-menu-right > ul > li a {
    display: block;
    height: 100%;
    font-size: 12px;
    padding: 10px 5px;
    margin: 0;
    border: none;
    color: #979797;
    border: 1px solid transparent;
}

.navbar .topbar .topbar-menu-right > ul > li a:hover {
    color: #fab568;
}

.navbar .topbar .topbar-menu-right > ul > li a:active {
    color: #fab568;
}

.navbar .topbar .topbar-menu-right > ul > li a:focus {
    color: #fab568;
}

.navbar .topbar .topbar-menu-right > ul > li a i {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.navbar .topbar .topbar-menu-right > ul > li i {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.navbar .topbar .topbar-menu-right > ul > li .icon-chevron-down {
    padding-left: 0;
    padding-right: 0;
}

.navbar .topbar .dropdown {
    position: relative;
}

.navbar .topbar .dropdown:hover {
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    background-color: #fff;
    z-index: 999;
}

.navbar .topbar .dropdown:hover > ul {
    visibility: visible;
    opacity: 1;
}

.navbar .topbar .dropdown:hover > a {
    background-color: #fff;
}

.navbar .topbar .dropdown > a {
    position: relative;
    display: block;
    background-color: #fff;
    z-index: 33;
}

.navbar .topbar .dropdown > ul {
    position: fixed;
    visibility: hidden;
    width: 100%;
    opacity: 1;
    right: 0;
    margin-top: -1px;
    background-color: #fff;
    border: 1px solid #E0E0E0;
}

.navbar .topbar .dropdown > ul > li {
    display: block;
    position: relative;
}

.navbar .topbar .dropdown > ul > li:hover {
    background-color: #6e7277;
}

.navbar .topbar .dropdown > ul > li:hover a {
    color: #fff;
}

.navbar .topbar .dropdown > ul > li > a {
    display: block;
    padding: 5px 10px;
    text-align: left;
    color: #6e7277;
    font-size: 14px;
}

.navbar .middlebar {
    background-color: #ffecdb;
}

.navbar .middlebar .dropdown {
    position: relative;
}

.navbar .middlebar .dropdown:hover ul {
    visibility: visible;
    opacity: 1;
    background-color: #ffdebd;
}

.navbar .middlebar ul.middlebar-menu-left li a {
    display: block;
    height: 100%;
    padding: 10px;
    color: #979797;
}

.navbar .middlebar ul.middlebar-menu-left li a:hover {
    color: #fab568;
}

.navbar .middlebar ul.middlebar-menu-left li a:active {
    color: #fab568;
}

.navbar .middlebar ul.middlebar-menu-left li a:focus {
    color: #fab568;
}

.navbar .middlebar ul.middlebar-menu-right > li {
    position: relative;
}

.navbar .middlebar ul.middlebar-menu-right > li:first-child {
    border-left: 1px solid #ffffff;
}

.navbar .middlebar ul.middlebar-menu-right > li:hover {
    background-color: #ffdebd;
}

.navbar .middlebar ul.middlebar-menu-right > li > a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    color: inherit;
    background-color: inherit;
    overflow: hidden;
    padding: 25px 15px;
    font-size: 12px;
}

.navbar .middlebar ul.middlebar-menu-right > li > a:hover {
    color: inherit;
}

.navbar .middlebar ul.middlebar-menu-right > li > a:active {
    color: inherit;
}

.navbar .middlebar ul.middlebar-menu-right > li > a:focus {
    color: inherit;
}

.navbar .middlebar ul.middlebar-menu-right > li i {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}

a.logo {
    position: relative;
    display: block;
    color: #f38925;
    line-height: 70px;
    font-size: 45px;
}

a.logo img {
    position: relative;
}

a.logo:hover {
    color: #f38925;
}

a.logo:active {
    color: #f38925;
}

a.logo:focus {
    color: #f38925;
}

@media only screen and (max-width: 991px) {
    .navbar {
        position: fixed;
        height: 90px;
        background-color: #ffecdb;
    }
    .navbar .collapse {
        position: fixed;
        display: none;
        width: 100%;
        overflow-y: scroll;
        top: 90px;
        left: 0;
        bottom: 0;
    }
    .navbar .topbar .topbar-menu-left {
        display: none;
    }
    .navbar .topbar .topbar-menu-right > ul > li a > span {
        display: none;
    }
    .navbar .topbar .dropdown > a {
        background-color: transparent;
    }
    .navbar .middlebar {
        background-color: transparent;
        height: 50px;
    }
    .navbar .middlebar ul.middlebar-menu-left li a,
    .navbar .middlebar ul.middlebar-menu-right li a {
        display: block;
        padding: 10px;
        font-size: 16px!important;
    }
    .navbar .middlebar ul.middlebar-menu-left li a:hover,
    .navbar .middlebar ul.middlebar-menu-right li a:hover {
        background-color: #ffecdb;
    }
    .navbar .middlebar .navbar-search {
        display: none;
    }
    .navbar .middlebar .navbar-search-field {
        position: fixed;
        display: block!important;
        background-color: #ffecdb;
        top: 50px;
        border: 0px solid black;
        width: 100%;
        z-index: 89;
        overflow: hidden;
        padding: 5px;
    }
    .navbar .middlebar .navbar-search-field .search-button-field {
        float: right;
        display: block;
        border: none;
        height: 30px;
        width: auto;
        padding: 0 10px 0 15px;
        cursor: pointer;
        background-color: transparent;
    }
    .navbar .middlebar .navbar-search-field .search-input-field {
        overflow: hidden;
    }
    .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
        display: block;
        border: none;
        width: 100%;
        height: 30px;
        padding: 0 10px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .navbar {
        position: relative;
        background-color: #fff;
        height: 125px;
    }
    .navbar .topbar {
        height: 50px;
    }
    .navbar .middlebar {
        height: 75px;
    }
    .navbar .navbar-hamburger {
        display: none;
    }
    .navbar .collapse {
        left: auto!important;
        display: block!important;
    }
    .navbar .topbar .topbar-menu-left {
        display: block;
    }
    .navbar .topbar .dropdown > ul {
        position: absolute;
        width: 250px;
        left: auto;
    }
    .navbar .middlebar .dropdown ul {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        right: 0px;
    }
    .navbar .middlebar .dropdown ul li {
        padding: 0;
        margin: 0;
        min-width: 250px;
        width: 100%;
    }
    .navbar .middlebar .dropdown ul li a {
        display: block;
        width: 100%;
        padding: 10px;
    }
    .navbar .middlebar .dropdown ul li a:hover {
        background-color: #ffecdb;
    }
    .navbar .middlebar ul.middlebar-menu-left {
        position: absolute;
        height: 100%;
        padding-left: 10px;
        min-width: 200px;
    }
    .navbar .middlebar ul.middlebar-menu-left li {
        display: inline-block;
        vertical-align: middle;
        height: 75px;
        font-size: 12px;
        border: none;
    }
    .navbar .middlebar ul.middlebar-menu-right {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 10px;
    }
    .navbar .middlebar ul.middlebar-menu-right > li {
        display: inline-block;
        vertical-align: middle;
        margin-right: -4px;
        border-right: 1px solid #ffffff;
    }
    .navbar .middlebar .navbar-search-field {
        position: absolute;
        background-color: #ffecdb;
        top: 0;
        right: 8px;
        width: 300px;
        z-index: 89;
        overflow: hidden;
        padding: 5px;
    }
    .navbar .middlebar .navbar-search-field .search-button-field {
        float: right;
        display: block;
        height: 65px;
        border: none;
        width: auto;
        padding: 0 10px 0 15px;
        cursor: pointer;
        background-color: transparent;
    }
    .navbar .middlebar .navbar-search-field .search-input-field {
        overflow: hidden;
    }
    .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
        display: block;
        border: none;
        width: 100%;
        height: 65px;
        padding: 0 10px;
    }
}
