.thumbnail-card {
  position: relative;
  background-color: #ffffff;
  border: 1px solid transparent;
  padding: 5px;
  margin-bottom: 25px;
  text-align: left;
  overflow: hidden;
}
.thumbnail-card:hover .thumbnail-card-img {
  opacity: 0.5;
}
.thumbnail-card:hover .thumbnail-card-label {
  opacity: 1;
}
.thumbnail-card a {
  display: block;
}
.thumbnail-card .thumbnail-card-label {
  width: 100%;
  padding: 5px;
  margin: 0;
  background-color: transparent;
  opacity: 0.8;
}
.thumbnail-card .thumbnail-card-label a {
  display: inline-block;
  vertical-align: middle;
}
.thumbnail-card .thumbnail-card-label a:hover {
  transform: scale(1.1);
}
.thumbnail-card .thumbnail-card-label a i {
  display: inline-block;
  vertical-align: middle;
}
