.thumbnail-scroller {
  position: relative;
  width: 100%;
  background: url(https://hippe-geboortekaartjes.nl/img/prevLine.png) no-repeat top center;
  background-size: 100%;
  background-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 10px;
  padding-top: 20px;
}
.thumbnail-scroller .thumbnail-scroller-left {
  left: 0;
}
.thumbnail-scroller .thumbnail-scroller-right {
  right: 0;
}
.thumbnail-scroller .thumbnail-scroller-left,
.thumbnail-scroller .thumbnail-scroller-right {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 20;
}
.thumbnail-scroller .thumbnail-scroller-left > a,
.thumbnail-scroller .thumbnail-scroller-right > a {
  display: table;
  height: 100%;
  padding: 0 10px;
}
.thumbnail-scroller .thumbnail-scroller-left > a i,
.thumbnail-scroller .thumbnail-scroller-right > a i {
  display: table-cell;
  vertical-align: middle;
}
.thumbnail-scroller a {
  display: inline-block;
  vertical-align: middle;
}
