/** BLOCKS - NAVBAR **/

.navbar.navbar-style-1 {
    height: 88px;
    .topbar {
        .topbar-menu-right {
            right: 38px;
            >ul>li a {
                padding: 10px 0px;
            }
        }
        .topbar-basket-mob {
            padding: 10px 0px;
        }
        a.logo {
            margin: 5px 10px 5px 5px;
        }
    }
    .middlebar {
        border-top: 1px solid #fbeff0;
        border-bottom: 1px solid #fbeff0;
        ;
        .menu-mob-middlebar-left {
            height: 36px;
            .icon {
                color: #fff;
            }
        }
    }
    .collapse {
        top: 89px;
    }
} // .navbar.navbar-style-1 .middlebar .menu-mob-middlebar-left:before {
//     background-color: #fff;
//     box-shadow: -5px 0 5px #fff;
// }
@media only screen and (min-width: 768px) {
    .navbar.navbar-style-1 {
        height: 60px;
        .topbar {
            border-bottom: 1px solid #dedede;
            .navbar-hamburger {
                display: inline-block;
            }
            .topbar-menu-right>ul>li a {
                padding: 16px 0px;
                &:hover {
                    color: #C29E6F;
                    .icon {
                        color: #C29E6F;
                    }
                }
            }
            .topbar-menu-right>ul>li.dropdown.active>ul>li a {
                color: #C29E6F;
            }
            .topbar-basket-mob {
                padding: 16px 1px;
            }
            .topbar-account-mob,
            .topbar-favourites-mob {
                padding: 16px 5px;
            }
            a.logo {
                width: calc(100% - 440px);
                text-align: center;
                img {
                    width: 230px;
                    margin: 0 auto;
                }
            }
        }
        .middlebar {
            height: 0px;
            right: 90px;
            .navbar-search-field {
                display: block;
                height: 59px;
                padding: 14px 0;
                width: 250px;
            }
        }
    }



    body[id^="body_account"] h1 {
        font-size: 36px;
        margin-left: -33%;
    }
    body[id^="body_account"] #mid {
        top: 45px;
    }
    body[id^="body_account"] .sm-3 .list-vertical {
        padding-top: 135px;
    }
    #card_order_info {
        padding-top: 0px;
    }
}

@media only screen and (min-width: 992px) {




    .navbar.navbar-style-1 {
        height: 130px;
        .collapse {
            background: #fbeff0;
            height: 50px;
            margin: 0px 0 20px 0;
            top: 0px;
        }
        .topbar {
            border-bottom: none;
            .navbar-hamburger {
                display: none;
            }
            .topbar-basket-mob,
            .topbar-account-mob,
            .topbar-favourites-mob {
                display: none;
            }
            .topbar-menu-right {
                right: 225px;
                >ul>li.dropdown.active {
                    .dropdown-content {
                        top: 59px;
                        border: solid 1px #eee;
                    }
                    >ul>li:hover a {
                        color: #000;
                        background-color: #edeceb;
                    }
                }
                >ul>li.dropdown>ul {
                    box-shadow: 2px 2px 5px rgba(181, 181, 181, 0.7);
                    border: none;
                    margin-top: 0px;
                }
            }
        }
        .middlebar {
            background-color: #fff;
            border: none;
            background: linear-gradient(#f8f5f4, #f8f5f4 50px, #fff 50px, #fff);
            right: 0px;
            margin-top: 10px;
            height: 60px;
            ul.middlebar-menu-left li a:active,
            ul.middlebar-menu-left li a:focus,
            ul.middlebar-menu-left li a:hover,
            ul.middlebar-menu-right li a:active,
            ul.middlebar-menu-right li a:focus,
            ul.middlebar-menu-right li a:hover {
                background-color: #fff;
            }
            ul.middlebar-menu-left .dropdown>ul,
            ul.middlebar-menu-right .dropdown>ul {
                margin-top: 50px;
                background-color: #f8f5f4;
                box-shadow: 2px 2px 5px rgba(181, 181, 181, 0.7)
            }
            ul.middlebar-menu-left .dropdown>ul li,
            ul.middlebar-menu-right .dropdown>ul li {
                border-bottom: none;
            }
            ul.middlebar-menu-left .dropdown>ul li a:hover,
            ul.middlebar-menu-right .dropdown>ul li a:hover {
                background-color: #fff; // color: #fbeff0;
            }
            ul.middlebar-menu-right li {
                margin-left: -4px;
            }


            ul.middlebar-menu-left,
            ul.middlebar-menu-right {
                height: 50px;
                li>a {
                    padding: calc(25.5px - 0.5em) 15px;
                }
            }
            ul.middlebar-menu-right>li:active,
            ul.middlebar-menu-right>li:focus,
            ul.middlebar-menu-right>li:hover {
                background-color: #FFEFEF;
                color: #000;
            }
            ul.middlebar-menu-right>li.dropdown:active,
            ul.middlebar-menu-right>li.dropdown:focus,
            ul.middlebar-menu-right>li.dropdown:hover {
                background-color: #fff;
            }
            .dropdown ul li a:hover {
                background-color: #fff;
            }
            .dropdown ul li a {
                color: #4f5256;
            }
            .navbar-search-field {
                background-color: #fff;
                border: 2px solid #fbeff0;
                padding: 0;
                margin-top: 4px;
                height: 36px;
                width: 200px;
                .search-input-field input[type=text] {
                    width: 186px;
                }
                .search-button-field,
                .search-input-field input[type=text] {
                    height: 32px;
                    font-size: 14px;
                    margin: 0;
                    border: none;
                }
                .search-button-field {
                    padding: 0;
                    height: 35px;
                    top: 0px;
                }
                .search-button-field .icon {
                    font-size: 20px;
                }
            }
        }

        a.logo {
            position: relative;
            width: 370px;
        }
        a.logo img {
            top: -15px;
            width: 300px;
        }
        .middlebar .dropdown:hover ul,
        .middlebar .dropdown ul,
        .topbar .dropdown ul {
            background-color: #fff;
            border: none;
            right: 1px;
            margin-right: -1px;
            margin-top: -1px;
        }
    }

    .visual .visual-content-left img,
    .visual .visual-content-right img {
        margin-top: 0;
        max-width: 300px;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar.navbar-style-1 {
        .topbar {
            .topbar-menu-left {
                font-size: 13px;
                a {
                    margin: 16px 0;
                    &:hover {
                        color: #C29E6F;
                    }
                }
            }
            .topbar-menu-right {
                font-size: 13px;
                right: 0px;
            }
        }

        .middlebar {
            ul.middlebar-menu-right {
                right: 36px;
            }
            .open-navbar-search {
                top: 0;
                right: 15px;
                height: 50px;
                display: block;
                padding-top: 15px;
                border-left: 1px solid white;
            }
            .navbar-search-field {
                display: none;
                border-left-width: 8px;
                padding: 0;
                margin: 0;
                height: 50px;
                width: 220px;
                .search-button-field,
                .search-input-field input[type=text] {
                    height: 46px;
                }
                .search-button-field {
                    top: 3px;
                }
            }
        }
    }
}