@import url('components/accordion.css');
@import url('components/address-list.css');
@import url('components/base.css');
@import url('components/box.css');
@import url('components/breadcrumb.css');
@import url('components/button-block.css');
@import url('components/button.css');
@import url('components/card-block.css');
@import url('components/carousel.css');
@import url('components/checkbox.css');
@import url('components/editor.css');
@import url('components/field.css');
@import url('components/foldmenu.css');
@import url('components/grid.css');
@import url('components/icons.css');
@import url('components/list.css');
@import url('components/desktop-filter.css');
@import url('components/mobile-filter.css');
@import url('components/navbar.css');
@import url('components/order-flow.css');
@import url('components/pills.css');
@import url('components/table.css');
@import url('components/thumbnail-card.css');
@import url('components/thumbnail-people.css');
@import url('components/thumbnail-scroller.css');
@import url('components/thumbnail-slider.css');
@import url('components/thumbnail.css');
@import url('components/visual.css');

@import url('https://fonts.googleapis.com/css?family=Lato');

/* FONTS ------------------------------------------------------------------------------------------------------------ */

body {
    font-family: Lato;
}

.mf * {
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}

.floatAdmin {
    top: 100px !important;
}

/* KLEUREN RESET CMS ------------------------------------------------------------------------------------------------ */

/* KLEUR 1 */

.navbar .middlebar {
    background-color: #70CC95; /*[[kleur1]]*/
}
.navbar .collapse {
  background: #70CC95; /*[[kleur1]]*/
}

@media only screen and (min-width: 768px) {
    .navbar .topbar {
        background: #70CC95; /*[[kleur1]]*/
    }

    .navbar .middlebar {
        background: #70CC95; /*[[kleur1]]*/
    }
}

@media only screen and (min-width: 992px) {
    .navbar .collapse {
        background: #70CC95; /*[[kleur1]]*/
    }
}

@media only screen and (min-width: 1200px) {
    .navbar .middlebar .open-navbar-search {
        background: #70CC95; /*[[kleur1]];*/
    }
}

/* KLEUR 2 */

body {
  background: #F3FCFF; /*[[kleur2]];*/
}
.navbar {
    background: #F3FCFF; /*[[kleur2]];*/
}
.navbar .topbar .topbar-basket-menu-mob {
    background-color: #F3FCFF; /*[[kleur2]];*/
}

@media only screen and (min-width: 992px) {
    .navbar .topbar {
        background: #F3FCFF; /*[[kleur2]];*/
    }
    .navbar .topbar .topbar-menu-right > ul > li.dropdown.active {
        background: #F3FCFF; /*[[kleur2]];*/
    }
    .navbar .topbar .topbar-menu-right > ul > li.dropdown.active a,
    .navbar .topbar .topbar-menu-right > ul > li.dropdown.active a:active {
        background: #F3FCFF; /*[[kleur2]];*/
    }
    .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul {
        background: #F3FCFF; /*[[kleur2]];*/
    }
    .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li a:hover {
        color: #EDFCFF; /*[[kleur2]];*/
    }
    .navbar .middlebar ul.middlebar-menu-right li {
        border-right: 1px solid #F3FCFF; /*[[kleur2]];*/
    }
    .navbar .middlebar ul.middlebar-menu-right li:first-child {
        border-left: 1px solid #F3FCFF; /*[[kleur2]];*/
    }
    .navbar .middlebar .dropdown ul.dropdown-content {
      background-color: #F3FCFF; /*[[kleur2]];*/
  }
}

/* KLEUR 3 */

/* KLEUR 4 */

.navbar .topbar.topbar-border {
    border-bottom: 1px solid #0049D4; /*[[kleur4]]*/
}
.navbar a.logo {
    color: #0049D4; /*[[kleur4]]*/
}
.navbar .navbar-hamburger .icon-bar {
  background-color: #0049D4; /*[[kleur4]];*/
}
.navbar  .topbar .topbar-basket-mob i {
    color: #0049D4; /*[[kleur4]]*/
}
.navbar .topbar .topbar-menu-left a:hover,
.navbar .topbar .topbar-menu-left a:active,
.navbar .topbar .topbar-menu-left a:focus {
    color: #0049D4; /*[[kleur4]];*/
}
.navbar .topbar .topbar-menu-right > ul > li a {
    color: #0049D4; /*[[kleur4]];*/
}
.navbar .topbar .topbar-menu-right > ul > li a:active,
.navbar .topbar .topbar-menu-right > ul > li a:focus {
     color: #0049D4; /*[[kleur4]];*/
}
.navbar .topbar .topbar-menu-right > ul > li.dropdown.active a,
.navbar .topbar .topbar-menu-right > ul > li.dropdown.active a:active {
    color: #0049D4; /* [[kleur4]]; */
}
.navbar .middlebar ul.middlebar-menu-right li a:hover,
  .navbar .middlebar ul.middlebar-menu-right li a:active,
  .navbar .middlebar ul.middlebar-menu-right li a:focus,
  .navbar .middlebar ul.middlebar-menu-left li a:hover,
  .navbar .middlebar ul.middlebar-menu-left li a:active,
  .navbar .middlebar ul.middlebar-menu-left li a:focus {
    color: #0049D4; /*[[kleur4]];*/
  }
.navbar .middlebar .navbar-search-field .search-button-field i:after {
    color: #0049D4; /*[[kleur4]];*/
}

.list-vertical li a {
    color: #0049D4; /*[[kleur4]];*/
}

@media only screen and (min-width: 992px) {
    .navbar .topbar .topbar-menu-right > ul > li.dropdown.active a,
    .navbar .topbar .topbar-menu-right > ul > li.dropdown.active a:active {
        color: #0049D4; /*[[kleur4]];*/
    }
    .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li a:hover {
        background-color: #0049D4; /*[[kleur4]];*/
    }
}

/* KLEUR 5 */

.navbar .topbar .topbar-menu-left a {
    color: #830094; /*[[kleur5]];*/
}
.navbar .topbar .topbar-menu-right > ul > li a:hover {
    color: #830094; /* [[kleur5]] */
}

/* KLEUR 6 */

.navbar .middlebar ul.middlebar-menu-right li a:hover {
    background-color: #FFB740; /*[[kleur6]];*/
}

/* if search-fileld is not visible
@media only screen and (min-width: 1200px) {
    .navbar .middlebar .navbar-search-field {
        background: #FFB740; */ /*[[kleur6]];*/
    /*}
}*/

/* KLEUR 7 */

.navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li:hover,
.navbar .middlebar .dropdown ul li a:hover {
   background: #14CCA2; /* [[kleur7]];*/
}

@media only screen and (min-width: 992px) {
    .navbar .middlebar .dropdown ul li a:hover {
        background-color: #14CCA2;  /*[[kleur7 ]]*/
    }
}


/* KLEUR 8 */

.mf__main ul.mob-tag-group-ul h3.active {
    color:  #FFB740; /*[[kleur8]]*/
}

.mf__main ul.mob-tag-group-ul h3.active:after {
    border-bottom: 7px solid #FFB740; /*[[kleur8]]*/
}

.mf__main ul.mob-tag-group-ul ul label.active:before {
    background: #FFB740; /* [[kleur8]]*/
}

.open_mobile_filter {
    background: #FFB740; /*[[kleur8]]*/
}

.open_mobile_filter.floater {
    background: #FFB740; /*[[kleur8]]*/
}
