body[id^="body_account"] h1 {
    font-family: 'Homemade Apple';
    font-size: 36px;
    line-height: 2em;
    font-weight: normal;
}

body[id^="body_account"] h2 {
    color: #6e7277;
}

.arrow-head {
    font-family: SecondFont, 'Amatic SC', cursive;
    color: #000;
    font-size: 45px;
}

.arrow-head::after {
    display: block;
    content: "";
    width: 350px;
    height: 60px;
    background-image: url(/img/arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: -15px auto 0 auto;
}

.main-title {
    display: block;
    margin-bottom: 10px;
}

.color-white {
    color: #fff!important;
}

.default-title {
    display: block;
    font-family: Antic, Varela Round, sans-serif;
    margin: 15px 0;
    font-size: 20px;
    color: #000;
    font-weight: normal;
}

.banner-background {
    position: relative;
    padding: 15px;
    margin-bottom: 30px;
}

.text-default {
    color: #000;
}

.text-primary {
    color: #F9D6D4;
}

.list-vertical li ul {
    margin: 0 0 0 5px;
    border-left: 2px solid #4f5256;
    padding-left: 15px;
}


.icon-meisje:after {
    content: 'n';
}

.icon-jongen:after {
    content: 'l';
}

.icon-nieuwe-kaartjes:after {
    content: 'o';
}

.icon {
    color: #070707;
}

.text-small {
    font-size: 0.8em;
}

.accordion {
    border: none;
}



li.tag-li input {
    display: none
}

.kleuren ul li {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding: 0!important;
    margin: 0 0 7px;
    vertical-align: top;
    overflow: hidden;
    border: none;
    background-color: transparent;
}

.kleuren ul li label {
    display: block;
    height: 30px;
    width: 30px;
    font-size: 0!important
}

#tagli-wit label {
    background: #fff!important
}

#tagli-mint label {
    background: #8fcaac!important
}

#tagli-peach label {
    background: #f7c3b3!important
}

#tagli-okergeel label {
    background: #dbad5e!important
}

#tagli-geel label {
    background: #fff100!important
}

#tagli-goud label {
    background: url(/img/kleuren.png) -131px -87px no-repeat!important
}

#tagli-oranje label {
    background: #ef8231!important
}

#tagli-rood label {
    background: #d6343f!important
}

#tagli-blauw label {
    background: #3680c2!important
}

#tagli-zalm label {
    background: #f8bfa5!important
}

#tagli-roze label {
    background: #e73186!important
}

#tagli-grijs label {
    background: #c9cfd1!important
}

#tagli-groen label {
    background: #598660!important
}

#tagli-paars label {
    background: #724f9b!important
}

#tagli-zwart label {
    background: #000!important
}

#tagli-bruin label {
    background: #ad8164!important
}

#tagli-multi-color label {
    background: url(/img/kleuren.png) -45px -87px no-repeat!important
}

#tagli-pastel label {
    background: url(/img/kleuren.png) -1px -87px no-repeat!important
}

#tagli-zwartwit label {
    background: -webkit-linear-gradient(-55deg, #fff 50%, #000 50%);
    background: -moz-linear-gradient(-55deg, #fff 50%, #000 50%);
    background: linear-gradient(-55deg, #fff 50%, #000 50%)
}

#categories .list-collapse label:hover .custom_checkbox,
#categories .list-collapse li input[type=checkbox]:checked+label .custom_checkbox,
#categories .list-collapse li label:hover .custom_checkbox {
    background-color: #e3a782!important
}

#filter_cards .custom_checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid #D6C9C9;
    display: inline-block;
    border-radius: 0;
    margin-right: 6px;
    background-color: #D6C9C9;
}
#filter_cards .kleur .custom_checkbox {
    background-color: transparent;
}


#categories h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #202020!important;
    font-weight: 500;
    letter-spacing: normal;
    word-spacing: normal;
    cursor: pointer;
    text-align: left;
}

#categories h3 i {
    float: right;
    font-size: 12px;
}

#body_design #categories,
#body_account_adres_import #categories,
#body_account_adresboek #categories,
#body_account_nieuwsbrief #categories,
#body_account_password #categories,
#body_account_settings #categories,
#body_account_orders #categories,
#body_account #categories,
#body_account_address #categories {
    display: none;
}

#body_design #pagecontent,
#body_account_adres_import #pagecontent,
#body_account_adresboek #pagecontent,
#body_account_nieuwsbrief #pagecontent,
#body_account_password #pagecontent,
#body_account_settings #pagecontent,
#body_account_orders #pagecontent,
#body_account #pagecontent,
#body_account_address #pagecontent {
    width: 100%;
}

#categories #filter_cards .kleuren ul {
    margin: 0;
}

#categories #filter_cards .kleuren ul li {
    width: 30px;
    height: 30px;
    margin: 0 10px 10px 0;
    float: left;
}

#categories #filter_cards .kleuren ul li label {
    position: relative;
    border-radius: 100%;
    margin: 0;
}

#categories #filter_cards .kleuren ul li label span {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

#categories #filter_cards .kleuren>ul:after {
    content: "";
    display: table;
    clear: both;
}

#filter_cards input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

#filter_cards label {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6c7075;
    margin: 0;
}


#filter_cards #taggroupul-kleuren .custom_checkbox {
    border: none;
}



/*#categories label:hover .custom_checkbox:after,*/

#categories ul#taggroupul-kleuren li input[type=checkbox]:checked+label .custom_checkbox:after,
#categories ul#taggroupul-kleuren li label:hover .custom_checkbox:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #000;
    border-radius: 100%;
    margin: 0;
    width: auto;
    height: auto;
    transform: none;
    z-index: 1;
}

#categories #taggroupul-kleuren:before,
#categories #taggroupul-kleuren:after {
    display: table;
    content: " ";
    clear: both;
}

#categories #taggroupul-kleuren {
    margin-bottom: 30px;
}

ul.partners li a {
    font-size: 15px;
}

ul.partners li a:before {
    font-family: 'kcicons';
    content: 'f';
    font-size: 10px;
    padding-right: 10px;
}

.feedback {
    font-size: 13px;
    font-style: italic;
    padding: 5px 0;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#body_zelf-maken #categories.md-3 {
    display: none;
}

#body_zelf-maken #pagecontent.md-9 {
    width: 100%;
}

.card-block {
    background-color: transparent;
    border: none;
}

.card-block .card-block-title {
    color: #000;
    font-size: 1.4em;
}

.card-block .card-block-footer {
    color: #000;
}

.feedback p {
    margin: 0;
}

.pay-methods {
    padding: 15px 0;
    margin: 0 0 15px 0;
}

.pay-methods a {
    display: block;
    margin: 15px 0;
}

.pay-methods a:first-child {
    margin-top: 0;
}

.pay-methods a:last-child {
    margin-bottom: 0;
}


.icon-chevron-left:before {
    content: normal;
}

.img-right {
    display: block;
    margin: 0 0 0 auto;
}

#crumbs {
    padding: 15px 0;
    font-size: 13px;
    color: #C29E6F;
}

#crumbs a {
    color: #6e7277;
}


.divider-arrow {
    position: relative;
    margin: 10px 0;
}

.divider-arrow::after {
    display: block;
    content: "";
    width: 250px;
    height: 50px;
    margin: auto;
    background-image: url(/img/arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.list-vertical li ul li a {
    color: #4f5256;
    padding: 0;
    line-height: 1em;
    &:hover, &.current-page {
        color: #C29E6F;
    }
}

.list-vertical>li>a>i.icon {
    width: 20px;
    vertical-align: bottom;
    font-size: 12px;
}

.list-vertical li a:active,
.list-vertical li a:focus,
.list-vertical li a:hover {
    color: #000;
}

select.field-input {
    background-color: #FDEFF0
}

.button-block {
    border-radius: 0;
}

.button-block.button-block-transparent {
    background-color: #000;
    height: 150px;
}

.button-block.button-block-transparent>a {
    background-color: #000;
    border: 1px solid #BFBFBF;
}

.button-block.button-block-transparent>a .button-block-title {
    font-size: 24px;
}

.button-block.button-block-transparent>a:active,
.button-block.button-block-transparent>a:focus,
.button-block.button-block-transparent>a:hover {
    background-color: #333;
}

.button-block>a {
    background-color: #F2EEEB;
}

.button-block.button-block-img>a {
    background-color: transparent;
}

.button-block>a .button-block-title {
    color: #000;
    font-weight: normal;
    font-family: 'Homemade Apple';
}

.button-block>a .button-block-text {
    color: #3F3E3E;
}

.button-block a.active,
.button-block>a:active,
.button-block>a:focus,
.button-block>a:hover {
    background-color: #FFEFEF;
}

.thumbnail-slider.thumbnail-slider-bg {
    background: url(/img/houten-blok-left-box.jpg) repeat;
}

.divider {
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider.divider-solid {
    border: 1px solid #F3DED4;
}

.list-title,
.accordion>a,
.accordion>.active {
    font-size: 24px;
    color: #202020!important;
    font-weight: bold;
}

.navbar .middlebar {
    background-color: transparent;
}

.customerrating {
    border-radius: 0;
    border: 1px solid #FFEEEE;
}

.box.customerrating {
    background: #f8f5f4;
    color: #000;
    .main-title {
        text-align: left;
    }
}

.box.customerrating .box-body,
.box.customerrating .box-footer {
    padding: 20px;
    background-color: transparent;
}

.accordion .accordion-body ul li a {
    padding: 2px 0;
}

.thumbnail-slider .button.button-primary {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #C29E6F;
    font-family: 'Amatic SC', cursive;
    color: #000;
}

.thumbnail-slider .button-group-justified {
    width: auto;
    margin: 10px 20px;
}

.thumbnail-slider .thumbnail-slider-left>a,
.thumbnail-slider .thumbnail-slider-right>a {
    color: #000;
}

.thumbnail-slider .thumbnail-slider-left>a i,
.thumbnail-slider .thumbnail-slider-right>a i {
    color: #000;
}

.thumbnail-slider .thumbnail-slider-middle img:not(:first-child) {
    display: none;
}

.button-xlg {
    padding: 10px;
    font-size: 26px;
    font-weight: 500;
    line-height: normal;
}

#body_design .container {
    overflow: visible;
}

#body_design h1 {
    font-size: 36px;
    line-height: 1.2em;
}

#body_design .desUsp {
    border: none;
    background-color: transparent;
}

#body_design .add_to_collection {
    border: none;
    border-radius: 0;
    padding: 0px;
}

#body_design .add_to_collection>.icon {
    display: none;
}

#body_design .add_to_collection .save_user_design {
    position: relative;
    padding: 0px;
    line-height: 1em;
    border: none;
    font-family: Impactlabel;
    color: #000;
    border-color: transparent;
    font-size: 26px;
    border-radius: 0px;
    -webkit-box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.5);
}

#body_design .add_to_collection .save_user_design::after {
    display: none;
}

#body_design #card_previews_horizontal {
    height: 300px;
    padding: 30px 0;
    width: auto;
    overflow: hidden;
    position: relative;
    margin: 0 0px 0 60px;
}

#body_design .desUsp a,
#body_product .product-usp a {
    display: block;
}

#body_design .desUsp a:before,
#body_product .product-usp a:before {
    content: "\2605";
    padding: 0 15px 0 0;
}

#body_design #card_previews_horizontal p {
    display: block!important;
}

#body_design .open_calculator {
    border-color: #ccc;
}

#body_design .proefDrukPrijs {
    margin-left: 0px !important;
}

#body_design table.prijsOf {
    border: none;
}

#body_design table.prijsOf td {
    border: none;
    padding: 5px 10px 5px 0px;
    position: relative;
}

#body_design table.prijsOf td.priceInfoTd:before {
    color: #ccc;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover {
    display: none;
    z-index: 500;
    padding: 15px;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 270px;
    -webkit-box-shadow: 0 0 5px 0 #575757;
    box-shadow: 0 0 5px 0 #575757
}

#body_design table.prijsOf td.priceInfoTd:hover div.priceHover {
    display: block;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverName {
    width: 220px;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverPrice {
    width: 150px;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverPrice:after {
    content: ' p/st';
    vertical-align: top;
}

#body_design table.prijsOf td.priceInfoTd:before {
    font-family: kcicons;
    content: 'k';
    cursor: pointer;
    padding-left: 5px;
    font-size: 16px;
}

#body_design .priceHover {
    display: none;
}

#body_design .priceHover table {
    border: none;
}

#body_design #prev_page,
#body_design #next_page {
    display: inline;
    position: absolute;
    top: 120px;
    font-size: 60px;
    color: #000;
}

#body_design #prev_page:after,
#body_design #next_page:after {
    display: block;
    padding: 12px;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    font-size: 60px;
    color: #000;
}

#body_design #prev_page:after {
    font-family: SecondFont, Antic, Varela Round, sans-serif;
    content: "<<";
}

#body_design #next_page:after {
    font-family: SecondFont, Antic, Varela Round, sans-serif;
    content: ">>";
}

#body_design #next_page,
#body_design #prev_page {
    cursor: pointer;
    background: #eaeaea;
    border-radius: 100%;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 5px;
}

#body_design #card_previews_horizontal #inner {
    height: 200px;
    overflow: hidden;
    display: block;
}

#body_design #prev_page {
    left: -10px;
}

#body_design #next_page {
    right: -10px;
}

.box {
    border-radius: 0;
}

#body_design #choose_preview {
    display: inline;
    width: auto;
    padding: 0px;
    line-height: 1em;
}

#body_design #choose_preview::after {}

#body_design #choose_preview i.icon {
    display: none;
}


#body_design .md-12>p {
    display: block;
}

#card_previews_horizontal #inner {
    position: absolute!important;
    border: none;
    padding: 0;
}


#card_order_info {
    padding-top: 30px;
}



/** VISUAL CONTENT BLOCK **/


/** THUMBNAIL HOME **/


/** OVERVIEW PAGE **/

body:not(#body_home) #mid {
    overflow: visible;
}

body:not(#body_home) #pagecontent {
    margin-top: -50px;
}



/** ZELF MAKEN **/

body#body_zelf-maken #pagecontent {
    margin-top: 0px;
}

body#body_zelf-maken #pagebody>h1 {
    display: none;
}

body#body_zelf-maken #crumbs {
    display: none;
}


@media only screen and (max-width: 991px) {
    #filter_cards {
        display: none;
    }
    #body_design .cols {
        margin-left: 0;
        margin-right: 0;
    }
    #body_design #pagecontent {
        padding-right: 0;
        padding-left: 0;
    }
    .content-wrapper {
        top: 95px;
    }
    .navbar .middlebar ul.middlebar-menu-left li a,
    .navbar .middlebar ul.middlebar-menu-right li a {
        padding: 5px 30px 0px 15px;
    }
    .navbar .dropdown-content {
        display: none;
    }
    .navbar .middlebar ul.middlebar-menu-left li a:hover,
    .navbar .middlebar ul.middlebar-menu-right li a:hover {
        background-color: transparent;
    }
    .navbar .middlebar ul.middlebar-menu-right>li:hover {
        background-color: transparent;
    }
    .navbar .middlebar .dropdown:hover ul {
        background-color: transparent;
    }
    .navbar .navbar-search-wrapper {
        border: 1px solid #ccc;
        margin: 0 10px;
    }
    .navbar .middlebar .navbar-search-field {
        background-color: #fff;
        display: none;
    }
    .navbar .middlebar .navbar-search-field .search-button-field {
        padding: 0 10px 0 10px;
    }
    .navbar .middlebar .navbar-search-field .search-input-field input[type=text] {
        padding: 0 15px;
    }
}





/* url is broken */


/** FIX FOR BROKEN TEMPLATE **/


/** MOBILE MENU **/