/** BLOCKS - BUTTON **/

.button-group .button {
    border-radius: 0!important;
}


.button {
	display: inline;
    position: relative;
    padding: 4px;
    line-height: 1em;
    border: none;
    font-family: ImpactlabelReversed;
    color: #fff;
    background: #000;
    font-weight: 100;
    border-color: transparent;
    font-size: 30px;
    border-radius: 0px;
    -webkit-box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.5);
}

.button.button-sm {
    font-size: 20px;
}

.button.button-lg {
    font-size: 36px;
}

.button:hover {
    color: #edeceb;
    background-color: #4f5256;
}

.button.button-success::after {
    display: inline-block;
    content: " >>";
}
