/** BLOCKS - HOME-SOCIAL **/

.home-social {
    text-align: center;
    .thumbnail {
        display: inline-block;
        border: none;
        padding: 0 10px;
        max-width: 75px;
        margin: 0 auto 25px auto;
    }
}