/** BLOCKS - MID **/

#mid {
    margin-top: 120px; 
}

@media only screen and (min-width: 768px) {
#mid {
    margin-top: 95px; 
}

}

@media only screen and (min-width: 992px) {
#mid {
    margin-top: 0px; 
}

}