/** BLOCKS - SIDEBAR-MENU **/



.sidebar_widget .widget_content>ul {
    border-top: 1px solid #C29E6F;
    padding-top: 15px;
    & > li {
        margin-bottom: 15px;
        padding-bottom: 20px;
        border-bottom: 1px solid #C29E6F;
    }
}

.sidebar_widget .widget_content>ul>li>a {
    font-size: 20px;
    color: #202020!important;
    font-weight: 500;
}

.sidebar_widget .widget_content>ul>li>ul {
    margin: 0;
    border-left: none;
}
