/** BLOCKS - THUMBNAIL **/

.thumbnail {

    .thumbnail-footer {
        position: absolute;
        bottom: 10px;
        background: none;
        opacity: 1;
        h3 {
            font-family: ImpactlabelReversed;
            background-color: #000;
            color: #fff;
            font-weight: 100;
            margin-top: 5px;
            font-size: 20px; 
            text-align: center;
        }
    }
}


.cols.home-styles {
    margin-left: 0px;
    margin-right: 0px;
}

.cols.home-styles>div {
    padding-left: 0px;
    padding-right: 0px;
}

.home-styles .thumbnail {
    border:none;
    .thumbnail-footer {
        top: 0px;
        left: 0;
        h3 {
            font-size: 17px;
        }
    }
}


.home-notes {
    margin-top: 45px;
    margin-bottom: 45px;
}

.home-notes p {
    font-family: 'Homemade Apple', 'Amatic SC', cursive;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    padding: 30px 0px;
    color: #000;
}

.cols-90percent {
    margin-left: 5%;
    margin-right: 5%;
}

.thumbnail.thumbnail-background {
    background: url(/img/houten-blok-left-box.jpg) repeat;
    overflow: visible;
    height: calc(100% - 50px);
}

.thumbnail.thumbnail-background::before {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    top: -15px;
    left: 0;
    height: 50px;
    width: 100%;
    background: url(/img/tape.png) no-repeat center top;
}

.thumbnail.thumbnail-background.thumbnail-background--grey {
    background: #dedede;
}

.thumbnail.thumbnail-background:hover img {
    opacity: 1;
}

.thumbnail.thumbnail-background .thumbnail-footer .thumbnail-footer-title {
    display: block;
    color: #fff;
    font-family: 'Amatica SC', cursive;
    letter-spacing: -2px;
    font-size: 28px;
    margin: 0 0 10px 0;
}

.thumbnail.thumbnail-background .thumbnail-footer {
    background-color: transparent;
    color: #fff;
    opacity: 1;
}

.thumbnail-slider .button.button-default {
    border-color: transparent;
    border-radius: 0;
    padding: 5px;
    font-size: 22px;
    font-family: ImpactlabelReversed;
    background-color: #000;
    color: #fff;
}