/** BLOCKS - TIPS-LINKS **/



.tips-links {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    > div {
        margin-bottom: 30px;
    }

}

.tips-links .button {
    box-shadow: none;
    line-height: 1.5em;
}
