/** BLOCKS - VISUAL **/


.content-wrapper .visual {
    display: none;
}

#visual-content {
    margin-top: 0;
}

.visual {
    margin-top: 89px;
    &.visual-transparent {
        background: transparent;
        border: none;
    }
    .visual-content {
    	width: auto;
    	text-align: center;
        padding: 0 15px;
        p {
            padding: 15px 0;
        }
    }
    .visual-content__title {
        font-family: 'Homemade Apple', 'Amatic SC', cursive;
        font-size: 32px;
        line-height: 2em;
        color: #000;
        padding: 25px 0;
    }

}



.visual .button.button-default {
    font-family: MainFont, Antic, Varela Round, sans-serif;
    background-color: #000;
    color: #CFCFCF;
}



.visual-content__confetti {
    width: 100%;
}


.visual-content__button {
    font-family: ImpactLabelReversed;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 40px;
}

.cols.visual-content__button-pink__container {
    flex-direction: row-reverse;
}

.visual-content__button-pink {
    right: 0px;
    position: relative;
    background-color: #fbeff0;
    color: #000;
}

.visual-content__button-blue {
    background-color: #e9f3f1;
    color: #000;
}



@media only screen and (min-width: 768px) {
    .visual {
        margin-top: 60px;
         .visual-content__title {
            font-family: 'Homemade Apple', 'Amatic SC', cursive;
            font-size: 48px;
            line-height: 2em;
            color: #000;
            padding: 50px 0 10px 0;
        }
   }

}

@media only screen and (min-width: 992px) {
    .visual {
        margin-top: 0px;
    }
}