.button {
    display: inline-block;
    vertical-align: middle;
    padding: 6px 12px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 100px;
    overflow: hidden;
    i {
        display: inline-block;
        vertical-align: middle;
    }
}

.button-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    .button {
        position: relative;
        float: left;
        border-radius: 0;
        &:first-child {
            margin-left: 0;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
        }
        &:last-child {
            margin-left: 0;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
        }
    }
}

.button-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    > .button {
        display: block;
        float: none;
        width: 100%;
        max-width: 100%;
        border-radius: 0!important;

    }
}

.button-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    > .button{
        display: table-cell;
        float: none;
        width: 1%;
    }
}

.button-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.button-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.button-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.button-xlg {
    padding: 12px 18px;
    font-size: 26px;
    line-height: 1.3333333;
}

.button-link {
    display: block;
    color: #F9861C;
    border-color: transparent;
    background-color: transparent;
    &:hover, &:active, &:focus {
          border-color: transparent;
    }
    
}

.button-default {
    color: @button-default-color;
    background-color: @button-default-bg-color;
    border-color: @button-default-border-color;
    &:hover {
        color: @button-default-hover-color;
        background-color: @button-default-hover-bg-color;
        border-color: @button-default-hover-border-color;
    }
}
.button-success  {
    color: @button-success-color;
    background-color: @button-success-bg-color;
    border-color: @button-success-border-color;
    &:hover {
        color: @button-success-hover-color;
        background-color: @button-success-hover-bg-color;
        border-color: @button-success-hover-border-color;
    }
}
.button-warning  {
    color: @button-warning-color;
    background-color: @button-warning-bg-color;
    border-color: @button-warning-border-color;
    &:hover {
        color: @button-warning-hover-color;
        background-color: @button-warning-hover-bg-color;
        border-color: @button-warning-hover-border-color;
    }
}
.button-danger  {
    color: @button-danger-color;
    background-color: @button-danger-bg-color;
    border-color: @button-danger-border-color;
    &:hover {
        color: @button-danger-hover-color;
        background-color: @button-danger-hover-bg-color;
        border-color: @button-danger-hover-border-color;
    }
}
.button-info  {
    color: @button-info-color;
    background-color: @button-info-bg-color;
    border-color: @button-info-border-color;
    &:hover {
        color: @button-info-hover-color;
        background-color: @button-info-hover-bg-color;
        border-color: @button-info-hover-border-color;
    }
}
.button-primary  {
    color: @button-primary-color;
    background-color: @button-primary-bg-color;
    border-color: @button-primary-border-color;
    &:hover {
        color: @button-primary-hover-color;
        background-color: @button-primary-hover-bg-color;
        border-color: @button-primary-hover-border-color;
    }
}