/* BUTTON BLOCKS */
.button-block {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;
    height: 110px;
    background-color: @button-block-bg-color;
    a.active {
        background-color: @button-block-link-active-bg-color;
    }
    > a {
        display: table;
        width: 100%;
        height: 100%;
        background-color: @button-block-link-bg-color;
        padding: 0 20px;
        text-align: center;
        &:hover{
            background-color: @button-block-link-hover-bg-color;
        }
        &:active {
            background-color: @button-block-link-active-bg-color;
        }
        &:focus {
            background-color: @button-block-link-focus-bg-color;
        }
        .button-block-content {
            display: table-cell;
            height: 100%;
            vertical-align: middle;
        }
        .button-block-title {
            display: block;
            font-size: 18px;
            margin-top: 0;
            color: @button-block-title-color;    
            margin-bottom: 0;
            i {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .button-block-text {
            display: block;
            font-size: 0.8em;
            color: @button-block-text-color;
        }
    }    
}

.button-block-img {
    height: 180px;
    background-color: @button-block-img-bg-color;
    > a {
        background-color: @button-block-img-link-bg-color;
        max-height: 210px;
        &:hover{
            background-color: @button-block-img-link-hover-bg-color;
            opacity: 0.9;
        }
        &:active {
            background-color: @button-block-img-link-active-bg-color;
            opacity: 0.9;
        }
        &:focus {
            background-color: @button-block-img-link-focus-bg-color;
            opacity: 0.9;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100%;
            z-index: -99;
        }
        .button-block-title  {
            display: block;
            color: @button-block-img-title-color;   
            font-size: 1.4em;
        }
        .button-block-text {
            display: block;
            font-size: 1.0em;
            color: @button-block-img-text-color;
        }
    }    
}
/* END BUTTON BLOCKS */