.custom-checkbox {
    position: relative;
    display: inline-block;
    > .box {
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        background-color: #eee;
        border-radius: 0px;
        > .tick {
            position: absolute;
            left: 0px;
            top: 2px;
            width: 14px;
            height: 6px;
            border-bottom: 2px solid #333;
            border-left: 2px solid #333;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            display: none;
        }
    }
    > input {
        position: absolute;
        outline: none;
        left: 0;
        top: 0;
        padding: 0;
        width: 16px;
        height: 16px;
        border: none;
        margin: 0;
        opacity: 0;
        z-index: 1;
        &:active + .box {
            border-color: #aaa;
            background-color: #ddd;
        }
    }
    > input:checked + .box > .tick {
        display: block;
    }
}
.checkbox-inline {
    label {
        display: block;
        padding-left: 15px;
        text-indent: -15px;
        font-weight: normal;
    }
    input[type="checkbox"] {
        width: 13px;
        height: 13px;
        padding: 0;
        margin:0;
        vertical-align: middle;
        position: relative;
        top: -1px;
        *overflow: hidden;
    }
}