@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@font-face {font-family: 'Lilly';
            src: url('./fonts/Lilly.eot');
            src: url('./fonts/Lilly.eot') format('embedded-opentype'),
                url('./fonts/Lilly.woff2') format('woff2'),url('./fonts/Lilly.woff') format('woff'),url('./fonts/Lilly.ttf') format('truetype'),
                url('./fonts/Lilly.svg#Lilly') format('svg');}

@charset "UTF-8";

@font-face {
    font-family: "kcicons";
    src:url("../css/fonts/kcicons.eot");
    src:url("../css/fonts/kcicons.eot?#iefix") format("embedded-opentype"),
        url("../css/fonts/kcicons.woff") format("woff"),
        url("../css/fonts/kcicons.ttf") format("truetype"),
        url("../css/fonts/kcicons.svg#untitled-font-1") format("svg");
    font-weight: normal!important;
    font-style: normal;

}

@font-face {
    font-family: 'kg_love_somebodyregular';
    src: url('/css/fonts/KGLoveSomebody-webfont.eot');
    src: url('/css/fonts/KGLoveSomebody-webfont.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/KGLoveSomebody-webfont.woff2') format('woff2'),
        url('/css/fonts/KGLoveSomebody-webfont.woff') format('woff'),
        url('/css/fonts/KGLoveSomebody-webfont.ttf') format('truetype'),
        url('/css/fonts/KGLoveSomebody-webfont.svg#kg_love_somebodyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mainFont:'Varela Round', sans-serif;
@secFont:'kg_love_somebodyregular';
@iconFont:'kcicons';