.thumbnail-people {
    position: relative;
    background-color: @thumbnail-people-bg-color;
    border: 1px solid @thumbnail-people-border-color;
    margin-bottom: 15px;
    text-align: left;
    overflow: hidden;
    border-radius: 10px;
    &:hover {
        .thumbnail-people-img {
            opacity: 0.5;
        }
        .thumbnail-people-label {
            opacity: 1;
        }
    }
    a {
        display: block;
    }
    .thumbnail-people-img {
        img {
            width: 100%;

        }
    }
    .thumbnail-people-label {
        width: 100%;
        margin-top: 5px;
        padding: 5px 0;
        background-color: transparent;
        opacity: 0.8;
        h3 {
            margin-top: 0;
            margin-bottom: 0;
            color: #f59a4b;
            font-size: 18px;
        }
        p {
            margin-top: 0;
            margin-bottom: 0px;
            color: inherit;
            font-size: 14px;
        }
    }
}