.visual {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid @visual-border-bottom;
    background: url(https://hippe-geboortekaartjes.nl/img/bg-visual.png) repeat 0 0;
    background-color: @visual-bg-color;
    overflow: hidden;
    min-height: 50px;
    visual-content {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
    }

}



.visual-background-1 {
    background: url(https://hippe-geboortekaartjes.nl/img/bg-visual.png) repeat 0 0;
}

.visual-background-2 {
    min-height: 400px;
    background: url(https://hippe-geboortekaartjes.nl/img/zmbanner.jpg) top center;
}